<template>
  <div class="flex justify-center">
    <div style="min-width: 800px">
      <div class="text-primary text-h6 q-py-lg">
        Notifications
        <q-separator />
        <q-separator />
      </div>

      <q-list v-for="(item, index) in items" :key="index">
        <q-item clickable v-ripple class="bg-blue-1">
          <q-item-section avatar>
            <q-avatar size="50px">
              <img :src="item.img" />
            </q-avatar>
          </q-item-section>
          <q-item-section>
            <q-item-label>
              <span v-if="item.user != ''" class="text-bold">{{item.user}}</span>
              {{item.message}}
              <span v-if="item.target != ''" class="text-bold">{{item.target}}</span>
            </q-item-label>
            <q-item-label caption>{{item.postTime()}}</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-icon
              @click="item.read = !item.read"
              class="text-grey"
              v-if="item.read == false"
              name="ion-ios-checkmark-circle-outline"
            />
            <q-icon
              @click="item.read = !item.read"
              class="text-primary"
              v-if="item.read == true"
              name="ion-ios-checkmark-circle"
            />
          </q-item-section>
        </q-item>
        <q-separator color="primary" />
      </q-list>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      johm: ".slice(0, 2)",
      items: [
        {
          read: false,
          user: "Toks Lexus",
          content: "added an article titled",
          target: "5minutes Stuff",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "Toks Lexus",
          content: "follows you",
          target: "",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "",
          content: "You recieved a message from",
          target: "Toks Lexus",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "5minutes Stuff",
          content: "has",
          target: "5 Tasks",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "Toks Lexus",
          content: "added an article titled",
          target: "5minutes Stuff",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "Toks Lexus",
          content: "follows you",
          target: "",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "",
          content: "You recieved a message from",
          target: "Toks Lexus",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        },
        {
          read: false,
          user: "5minutes Stuff",
          content: "has",
          target: "5 Tasks",
          postTime: function() {
            return new Date();
          },
          img:
            "https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg"
        }
      ]
    };
  }
};
</script>

<style>
</style>
