<template>
  <div>
    <div v-if="route == 'grid'">
      <feedHeader />
      <Minimized />
    </div>
    <Expanded v-else-if="route == 'list'" />
  </div>
</template>

<script>
import Expanded from "./partials/contentExpanded";
import Minimized from "./partials/contentMinimized";
import feedHeader from "./partials/header";

export default {
  // name: 'ComponentName',
  components: {
    Expanded,
    Minimized,
    feedHeader
  },
  data() {
    return {};
  },

  computed: {
    route: function() {
      return this.$route.name;
    }
  }
};
</script>
