<template>
  <div>
    <User v-if="route== 'profile'" />
    <User v-else-if="route== 'company'" />
    <User v-else-if="route== 'university'" />
    <production v-else-if="route == 'production'" />
    <Theater v-else-if="route == 'theater'" />
  </div>
</template>

<script>
import User from "./user";
import production from "./production";
import Theater from "./Theater";
export default {
  // name: 'ComponentName',
  components: {
    User,
    Theater,
    production
  },

  data() {
    return {};
  },

  computed: {
    route: function() {
      return this.$route.name;
    }
  }
};
</script>

<style>
</style>
