<template>
  <div>
    <topHeader />
    <feedHeader class="q-px-xl"/>
    <contentLayout class="q-px-xl"/>
  </div>
</template>

<script>
import topHeader from './partials/productionhead'
import feedHeader from '../feed/partials/header'
import contentLayout from './partials/contentLayout'
export default {
  // name: 'ComponentName',
  components: {
    topHeader, feedHeader, contentLayout
  },
  data () {
    return {}
  }
}
</script>

<style>
</style>
