<template>
  <div>
    <topHeader />
    <synopsis />
    <feedHeader class="q-px-xl"/>
    <!-- <contentLayout class="q-px-xl"/> -->
    <theaterLayout class="q-px-xl" />
  </div>
</template>

<script>
import topHeader from './partials/productionhead'
import feedHeader from '../feed/partials/header'
import synopsis from './partials/synopsis'
import contentLayout from './partials/contentLayout'
import theaterLayout from './partials/theaterLayout'
export default {
  // name: 'ComponentName',
  components: {
    topHeader, feedHeader, contentLayout, synopsis, theaterLayout
  },
  data () {
    return {}
  }
}
</script>

<style>
</style>
