<template>
  <div>
    <topHeader />
    <feedHeader class="q-px-xl q-mt-sm" />
    <contentLayout class="q-px-xl" />
  </div>
</template>

<script>
import topHeader from "./partials/Header";
import feedHeader from "../feed/partials/header";
import contentLayout from "./partials/contentLayout";
export default {
  // name: 'ComponentName',
  components: {
    topHeader,
    feedHeader,
    contentLayout
  },
  data() {
    return {};
  },
  methods: {
    async getProfile() {}
  },
  computed: {
    user() {
      return this.$store.getters["auth/user"];
    }
  }
};
</script>

<style>
</style>
