<template>
  <div>
    <div class="row q-gutter-sm">
      <div v-for="(item, index) in trending" :key="index">
        <q-card class="row" style=" min-width: 200px; min-height:70px">
          <q-img class="col-5" :src="item.img"/>
          <q-card-section class="col-7 text-center flex flex-center text-bold text-primary text-subtitle1">
            <div >
              {{item.title}}
            </div>
          </q-card-section>
          
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['trending'],
  data () {
    return {
      // trending: [
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Article', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Events', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Companies', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'People', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Production', field:'Production'},
      // ]
    }
  }
}
</script>

<style>
</style>
