<template>
  <div>
    <div class="row q-gutter-sm ">
      <div v-for="(item, index) in datas" :key="index">
        <q-card class="" style=" min-width: 170px; min-height:50px">
          <q-card-section class="text-center flex flex-center text-bold text-primary ">
            <div>{{item.title}}</div>
          </q-card-section>
          
        </q-card>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props:['datas'],
  data () {
    return {}
  }
}
</script>

<style>
</style>
