<template>
  <div class="row">
    
    <!-- Left button -->
    <div class="lefter col-1 flex flex-center" style="position: relative; z-index: 4000; float:left; max-width:40px">
      <q-btn class="gt-sm" size="sm" round color="white" text-color="black" id="left-button" icon="arrow_back_ios"  @click="swipeLeftS" style="margin-right: -45px"/>
      <q-btn class="lt-md" size="sm" round color="white" text-color="black" id="left-button" icon="arrow_back_ios"  @click="swipeLeftS" style="margin-right: -30px"/>
    </div>
    
    

    <div class="centered col" id="content" ref="content">

      <slot name="slideContent"></slot>
 
     </div>
      
     
    
    
    <!-- Right Button -->
    <div class="righter col-1 flex flex-center" style="max-width:40px">
      <q-btn class="gt-sm" size="sm" style="margin-left: -45px" color="white" text-color="black" round  id="right-button" icon="arrow_forward_ios" @click="swipeRightS"/>
      <q-btn class="lt-md" size="sm" style="margin-left: -30px" color="white" text-color="black" round  id="right-button" icon="arrow_forward_ios" @click="swipeRightS"/>
    </div>
    
    
  </div>
</template>

<script>
import { scrollerMixin } from "components/mixins/scrollMixins";
export default {
  // name: 'ComponentName',
  components:{
    
  },
  mixins: [scrollerMixin],
  data () {
    return {}
  },
  methods: {}
}
</script>

<style>
.lefter{
 float: left; 
 
}

.internalized{
 height: 100%;
 display: inline-block;
}

.centered{
 float: left; 
 overflow: hidden;
 white-space: nowrap;
}

.righter{
 float: right; 
}

</style>

