<template>
  <div >
    
    <div class="row q-gutter-sm no-wrap">
      <div v-for="(item, index) in trending" :key="index">
        <q-card class="" style=" min-width: 250px">
          <q-img :src="item.img">
            <div class="absolute-full">
              <div class="absolute-bottom text-center bg-transparent">
                <div class="text-h6">{{item.title}}</div>
                <div class="text-caption">@{{item.username}} | {{item.field}}</div>
              </div>
            </div>
          </q-img>
        </q-card>
      </div>
    </div>
    
  </div>
</template>

<script>

export default {
  // name: 'ComponentName',
  // props:['trending'],
  data () {
    return {
      trending: [
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      ]
    }
  }
}
</script>

<style>
</style>
