<template>
  <div>
    <!-- with Pic -->
    <div class="text-bold text-grey-8 q-py-sm">{{postDate}}</div>
    <q-card class="my-card">
      <q-card-section>
        <q-item class="q-px-none">
          <q-item-section top avatar class="q-pr-xs">
            <q-avatar size="40px" >
              <img src="https://cdn.quasar.dev/img/boy-avatar.png">
            </q-avatar>
          </q-item-section>
          <q-item-section class="q-px-none">
            <q-item-label lines="1" class="text-bold">Single line item</q-item-label>
            <q-item-label caption lines="1">Secondary line text.</q-item-label>
          </q-item-section>
          
          <q-item-section side class="text-grey">
            <q-btn-dropdown size="sm" dense dropdown-icon="fas fa-ellipsis-v" text-color="grey" flat>
              <q-list>
                <q-item clickable v-close-popup >
                  <q-item-section>
                    <q-item-label>Photos</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item clickable v-close-popup >
                  <q-item-section>
                    <q-item-label>Videos</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item clickable v-close-popup >
                  <q-item-section>
                    <q-item-label>Articles</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </q-item-section>
        </q-item>
      </q-card-section>
      <img src="https://cdn.quasar.dev/img/mountains.jpg" style="height: 300px">
      <q-card-section class="q-px-xs row text-center">
        <q-rating class="col-1 justify-end" v-model="ratingModel1" icon="favorite_border" icon-selected="favorite" size="1.5em" :max="1" color="red"/>
        <q-btn class="col-1 text-grey" flat no-caps size="sm" icon="comment" /> 
        <q-btn class="col-1 text-grey" align="left" dense flat no-caps size="sm" icon="ion-share-alt" /> 
        <q-item-label caption class="q-pt-xs"><q-icon name="far fa-clock" color="grey" /> 5 min ago</q-item-label>
      </q-card-section>
      <q-separator color="grey-5" />
      <q-card-section>
        <div class="text-subtitle2 text-primary">Our Changing Planet</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </q-card-section>
    </q-card>

    <!-- without Pic -->
    <div class="text-bold text-grey-8 q-py-sm">{{postDate}}</div>
    <q-card class="my-card">
      <q-card-section>
        <div class="text-subtitle2 text-primary">Our Changing Planet</div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </q-card-section>
    </q-card>

    <!-- without Pic but with location-->
    <div class="text-bold text-grey-8 q-py-sm">{{postDate}}</div>
    <q-card class="my-card">
      <q-card-section>
       
        <q-item class="row">
          <q-item-section class="text-subtitle2 text-primary">Our Changing Planet</q-item-section>
          <q-item-section class="text-subtitle2 row text-right" side>  
            <q-item-label caption> <q-icon name="my_location" /> Bond 45 Restaurant</q-item-label>
          </q-item-section>
        </q-item>
        
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </q-card-section>
    </q-card>

     <!-- location and pic-->
    <div class="text-bold text-grey-8 q-py-sm">{{postDate}}</div>
    <q-card class="my-card">
      <q-card-section>
       
        <q-item class="row">
          <q-item-section class="text-subtitle2 text-primary">Our Changing Planet</q-item-section>
          <q-item-section class="text-subtitle2 row text-right" side>  
            <q-item-label caption> <q-icon name="my_location" /> Bond 45 Restaurant</q-item-label>
          </q-item-section>
        </q-item>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </q-card-section>
      <img src="https://cdn.quasar.dev/img/mountains.jpg" style="height: 300px">
    </q-card>

    <!-- Event Cards-->
    <div class="text-bold text-grey-8 q-py-sm">{{postDate}}</div>
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white text-bold">
        Upcoming Event
      </q-card-section>
      <q-card-section>
        <q-item class="q-py-none">
          <q-item-section class="text-subtitle2 text-primary">Our Changing Planet</q-item-section>
          <q-item-section class="text-subtitle2 row text-right" side>  
            <q-item-label caption> <q-icon name="my_location" /> Bond 45 Restaurant</q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="q-py-none">
          <q-item-section class="text-subtitle2 row text-right" side>  
            <q-item-label caption> <q-icon name="ion-calendar" /> May 27, 2018</q-item-label>
          </q-item-section>
          <q-item-section class="text-subtitle2 row text-right" side>  
            <q-item-label caption> <q-icon name="ion-time" /> 3:00PM - 5:00PM</q-item-label>
          </q-item-section>
        </q-item>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit
      </q-card-section>
      <img src="https://cdn.quasar.dev/img/mountains.jpg" style="height: 300px">
    </q-card>
    
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      postDate: new Date().toDateString()
    }
  }
}
</script>

<style>
</style>
