<template>
  <div>
    <q-card class="q-ma-none q-pb-none">
      <q-card-section class="row flex-center">
        <div class="full-width" style="max-width:900px;">
          <q-item class="col-xs-12 col-sm-12 col-md-8 flex-center">
            <q-item-section class="rounded-borders" top avatar>
              <avatar
                :size="'200px'"
                :name="user.firstname +' '+user.lastname"
                :src="user.avatar"
                :badger="badger"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label class="text-h6 text-bold text-primary">
                <span v-if="route == 'profile'">{{ user.firstname +' '+ user.lastname }}</span>
                <span v-if="route == 'company'">{{ company.company_name }}</span>
                <span v-if="route == 'university'">{{ university.university_name }}</span>
                <!-- <span v-else>Please configure {{route}} name</span> -->
              </q-item-label>
              <q-item-label lines="1">
                <span v-if="route == 'company'">@{{ company.company_username }}</span>
                <span v-if="route == 'university'">@{{ university.university_username }}</span>
                <!-- <span v-else>Please configure {{route}} username</span> -->
              </q-item-label>
              <q-item-label lines="1">
                <span v-if="route == 'company'">{{ company.company_title }}</span>
                <span v-if="route == 'university'">{{ university.university_title }}</span>
                <!-- <span v-else>Please configure {{route}} title</span> -->
              </q-item-label>
              <q-item-label caption class="overline q-py-sm text-bold text-uppercase" lines="1">
                <span v-if="route == 'company'">{{ company.company_about }}</span>
                <span v-if="route == 'university'">{{ university.university_about }}</span>
                <!-- <span v-else>Please configure {{route}} username</span> -->
              </q-item-label>
              <!-- <q-item-label caption class="text-italic" lines="3">{{ (user.about).slice(0,180) }}<span v-if="(user.about).length > 180">...</span> </q-item-label> -->
              <!-- <q-item-label caption class="text-italic" lines="3">{{ user.about}}</q-item-label> -->
            </q-item-section>
            <q-space />
            <q-item-section side class="q-gutter-y-md">
              <editUser :user="user" />
              <follow :id="1" :followed="0" :size="'sm'" />
              <q-btn
                v-if="show == false"
                dense
                color="blue-2 q-px-sm"
                label="SHOW MORE"
                @click="show = !show"
              />
              <q-btn
                v-if="show == true"
                dense
                color="blue-2 q-px-sm"
                label="SHOW LESS"
                @click="show = !show"
              />
            </q-item-section>
          </q-item>
        </div>
      </q-card-section>
      <!-- show more -->

      <!-- <q-card-section v-if="show == false">
        <headerMore />
      </q-card-section>-->

      <q-card-section v-if="show == true">
        <headerMore2 class="q-py-lg" />
      </q-card-section>

      <q-card-section class="q-pb-none">
        <q-tabs
          v-model="tab"
          inline-label
          narrow-indicator
          active-color="primary"
          class="text-grey"
        >
          <q-tab class="q-px-xl" no-caps name="userFeed" label="User Feed" />
          <q-tab class="q-px-xl" no-caps name="calender" label="Calender" @click="open = true" />
          <q-tab class="q-px-xl" no-caps name="followers" :label="'Followers '+follower" />
          <q-tab class="q-px-xl" no-caps name="following" :label="'Following '+following" />
        </q-tabs>
      </q-card-section>
    </q-card>

    <q-dialog v-model="open">
      <q-card style="min-width: 300px">
        <q-card-section class="text-center">Coming Soon</q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Ok" color="primary" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import headerMore from "./headerMore";
import headerMore2 from "./headerMore2";
import follow from "components/common/follow";
import avatar from "components/common/avatar";
import editUser from "components/common/edit_user";
export default {
  // name: 'ComponentName',
  components: {
    headerMore,
    headerMore2,
    follow,
    avatar,
    editUser
  },
  data() {
    return {
      open: false,
      badger: [
        {
          b_size: "xl",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 30px; margin-bottom: 10px",
          badge: "badge"
        },
        {
          b_size: "xl",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 70px; margin-bottom: -24px",
          badge: "star"
        },
        {
          b_size: "xl",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 120px; margin-bottom: -20px",
          badge: "idea"
        },
        {
          b_size: "xl",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 160px; margin-bottom: 0px",
          badge: "speed"
        },
        {
          b_size: "xl",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 190px; margin-bottom: 30px",
          badge: "likes"
        }
      ],
      show: false,
      tab: "userFeed",
      follower: "1,802",
      following: "962"
    };
  },

  computed: {
    user() {
      return this.$store.getters["auth/user"];
    },

    company() {
      return this.$store.getters["company/company"];
    },

    university() {
      return this.$store.getters["university/university"];
    },

    route() {
      return this.$route.name;
    }
  }
};
</script>

<style>
</style>
