<template>
  <div>
    <q-card flat class="my-card">
      <q-card-section v-if="router == 'company'" class="q-pa-md justify-center">
        <q-card flat class="row self-center">
          <q-card-section class="col-xs-12 col-sm-12 col-md-6 col-md-4 q-pa-none">
            <div>
              <q-btn
                flat
                no-caps
                dense
                class="q-px-none"
                icon="link"
                color="white"
                text-color="black"
                :label="'www.'+url"
                type="a"
                target="_blank"
                :href="'https://'+url"
              />
            </div>
            <div v-if="router != 'company'">
              <q-icon name="my_location" />fiverr, USA
            </div>
            <div v-if="router == 'company'">
              <q-icon name="ion-ios-call" />224-933-3456
            </div>
          </q-card-section>

          <q-card-section class="col-xs-12 col-sm-12 col-md-6 col-md-4 q-pa-none text-right">
            <div class="q-gutter-md">
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-facebook-f" />
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-instagram" />
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-twitter" />
            </div>
          </q-card-section>
        </q-card>
      </q-card-section>

      <q-card-section v-if="router != 'company'" class="q-pa-md justify-center">
        <q-card flat class="row self-center">
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 col-md-4 q-pa-none">
            <div>
              <q-btn
                flat
                no-caps
                dense
                class="q-px-none"
                icon="link"
                color="white"
                text-color="black"
                :label="'www.'+url"
                type="a"
                target="_blank"
                :href="'https://'+url"
              />
            </div>
            <div>
              <q-icon name="my_location" />fiverr, USA
            </div>
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 col-md-4 q-pa-none">
            <div>
              <q-icon name="business" />6 theaters
            </div>
            <div>
              <q-icon name="business" />12 programs
            </div>
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 col-md-4 q-pa-none text-right">
            <div class="q-gutter-md">
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-facebook-f" />
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-instagram" />
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-twitter" />
            </div>
          </q-card-section>
        </q-card>
      </q-card-section>

      <q-card-section class="q-pa-none">
        <div>
          <div v-if="router == 'company'">
            <div class="row">
              <div class="text-primary text-h6">Staff</div>
              <q-space />
            </div>
            <staff />
          </div>

          <div v-if="router != 'company'" class>
            <div class="text-primary text-h6 row">
              <div>Programs</div>
              <q-space />
              <programs />
            </div>
          </div>

          <!-- <cast /> -->
        </div>

        <div>
          <div v-if="router == 'company'" class="q-pt-md">
            <div class="row">
              <div class="text-primary text-h6">Clients</div>
              <q-space />
            </div>
            <client />
          </div>
          <div v-if="router != 'company'" class="q-pt-md">
            <div class="text-primary text-h6 row">
              <div>Faculty</div>
              <q-space />
              <faculty />
            </div>
          </div>
        </div>

        <div v-if="router != 'company'">
          <div class="text-primary text-h6 row">
            <div class="text-primary text-h6">Notable Alumini</div>
            <q-space />
            <alumini />
          </div>
        </div>
      </q-card-section>
    </q-card>
    <popUpAdd :open="dialogue" :info="details" @close="dialogue = $event" @save="save($event)" />
  </div>
</template>

<script>
import cast from "./partials/cast";
import creative from "./partials/creative";
import popUpAdd from "./partials/popUpAdd";
import programs from "./partials/programs";
import faculty from "./partials/faculty";
import alumini from "./partials/alumini";
import staff from "./partials/staff";
import client from "./partials/client";
export default {
  // name: 'ComponentName',
  components: {
    cast,
    creative,
    popUpAdd,
    programs,
    faculty,
    alumini,
    staff,
    client
  },
  data() {
    return {
      dialogue: false,
      details: {},
      programs1: null
    };
  },
  methods: {
    async save(push) {
      const endPoint = "/api/program";
      const res = await this.postRequest(endPoint, push);
      const data = res.data;
      this.programs1.push(data.data);
      this.clear();
    },
    clear() {
      this.form.title = "";
      this.form.org = "";
      this.form.description = "";
    }
  },
  computed: {
    router: function() {
      return this.$route.name;
    }
  }
};
</script>

<style>
</style>
