<template>
  <div>
    <q-card flat class="my-card flex flex-center">
      <q-card-section class="q-pa-md justify-center" style="min-width: 900px">
        <q-card flat class="row self-center">
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 col-md-4 q-pa-none">
            <div>
              <q-btn
                flat
                no-caps
                dense
                class="q-px-none"
                icon="link"
                color="white"
                text-color="black"
                :label="'www.'+url"
                type="a"
                target="_blank"
                :href="'https://'+url"
              />
            </div>
            <div>
              <q-icon name="my_location" />1-541-754-3010
            </div>
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 col-md-4 q-pa-none">
            <div>
              <q-icon name="business" />6 theaters
            </div>
            <div>
              <q-icon name="business" />12 programs
            </div>
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 col-md-4 q-pa-none text-right">
            <div class="q-gutter-md">
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-facebook-f" />
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-instagram" />
              <q-btn size="md" color="primary" text-color="white" icon="fab fa-twitter" />
            </div>
          </q-card-section>
        </q-card>
      </q-card-section>

      <q-card-section class="q-pa-none">
        <q-card flat class="row">
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 q-pa-none">
            <div class="text-center text-bold text-primary q-py-md">Programs</div>
            <content1 />
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 flex-center q-pa-none">
            <div class="text-center text-bold text-primary q-py-md">Faculty</div>
            <content2 />
          </q-card-section>
          <q-card-section class="col-xs-12 col-sm-12 col-md-4 q-pa-none">
            <div class="text-center text-bold text-primary q-py-md">Notable Alumini</div>
            <content3 />
          </q-card-section>
        </q-card>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { openURL } from "quasar";
import content1 from "./partials/conent1";
import content2 from "./partials/conent2";
import content3 from "./partials/conent3";
export default {
  // name: 'ComponentName',
  components: {
    content1,
    content2,
    content3
  },
  data() {
    return {
      url: "marathon.com"
    };
  }
};
</script>

<style>
</style>
