<template>
  <div>
    <q-card flat class="q-ma-none q-pb-none">
      <q-card-section class="row flex-center q-px-none">
        <q-img src="/statics/img/profilePic.jpg" spinner-color="white" style="height: 360px;">
          <div class="absolute-full column flex-center" style>
            <div class="text-h2 text-bold q-my-sm">
              <span
                v-if="router == 'production'"
              >{{ production.production_title }} on {{ production.production_type }}</span>
              <span
                v-if="router == 'theater'"
              >{{ theater.theatre_title }} on {{ theater.theatre_type }}</span>
            </div>
            <div class="text-h5 q-my-sm">
              <span v-if="router == 'production'">@{{ production.production_username }}</span>
              <span v-if="router == 'theater'">@{{ theater.theatre_username }}</span>
            </div>

            <div class="q-my-sm" v-if="router == 'production'">
              <q-icon name="print" />
              {{user.firstname}} {{user.lastname}} theatre - {{production.production_location}}
            </div>
            <div class="q-my-sm" v-if="router == 'theater'">
              <q-icon name="ion-ios-pin" />
              {{user.firstname}} {{user.lastname}} Theater - {{theater.theatre_location}}
            </div>

            <q-card
              class="row text-black text-center flex-center q-pa-sm q-my-md"
              style="background: rgba(255, 255, 255, 0.9)"
            >
              <q-item class="q-py-none" style>
                <q-item-section v-if="router == 'production'" class="q-px-sm">
                  <div>Followers</div>
                  <div>1,802</div>
                </q-item-section>
                <q-item-section v-if="router == 'theater'" class="q-px-sm">
                  <div>Capacity</div>
                  <div>10,000</div>
                </q-item-section>

                <q-separator spaced inset vertical />
                <q-item-section style="min-width:200px">
                  <q-item-label
                    v-if="router == 'production'"
                    lines="1"
                  >{{ production.production_type }} PRODUCTION</q-item-label>
                  <q-item-label v-if="router == 'theater'" lines="1">Theater Owner</q-item-label>
                  <q-item-label caption v-if="router == 'theater'" lines="1">@Shubert Organization</q-item-label>
                </q-item-section>

                <q-separator v-if="router == 'theater'" spaced inset vertical />
                <q-item-section v-if="router == 'theater'" style="min-width:100px">
                  <div>Year built</div>
                  <div>1902</div>
                </q-item-section>

                <q-separator v-if="router == 'production'" spaced inset vertical />
                <q-item-section v-if="router == 'production'" class="q-px-sm">
                  <div>Following</div>
                  <div>962</div>
                </q-item-section>

                <q-separator v-if="router == 'theater'" spaced inset vertical />
                <q-item-section v-if="router == 'theater'" class="q-px-sm">
                  <div>Type</div>
                  <div>Broadway</div>
                </q-item-section>
              </q-item>
              <badges :data="badger" />
            </q-card>
            <div class="row q-my-md q-gutter-x-lg">
              <q-btn
                dense
                color="primary q-px-sm"
                @click="follow = true"
                v-if="follow == false"
                icon="add"
                label="FOLLOW"
              />
              <q-btn
                dense
                color="primary q-px-sm"
                @click="follow = false"
                v-if="follow == true"
                label="FOLLOWING"
              />

              <q-btn
                v-if="show == false"
                dense
                color="blue-2 q-px-sm"
                label="SHOW MORE"
                @click="show = !show"
              />
              <q-btn
                v-if="show == true"
                dense
                color="blue-2 q-px-sm"
                label="SHOW LESS"
                @click="show = !show"
              />
            </div>
          </div>
        </q-img>

        <!-- <div class="col-md-2 gt-sm"></div> -->
      </q-card-section>
      <!-- show more -->
      <q-card-section v-if="show == true" style="white-space: nowrap;">
        <headerMore />
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import headerMore from "./productionheadMore";
import badges from "components/common/badge";
export default {
  // name: 'ComponentName',
  components: {
    headerMore,
    badges
  },
  data() {
    return {
      badger: [
        {
          b_size: "sm",
          b_style: "margin-bottom: -14px",
          badge: "badge"
        },
        {
          b_size: "sm",
          b_style: "margin-bottom: -14px",
          badge: "star"
        },
        {
          b_size: "sm",
          b_style: "margin-bottom: -14px",
          badge: "idea"
        },
        {
          b_size: "sm",
          b_style: "margin-bottom: -14px",
          badge: "speed"
        },
        {
          b_size: "sm",
          b_style: "margin-bottom: -14px",
          badge: "likes"
        }
      ],
      show: false,
      tab: "userFeed",
      follower: "1,802",
      following: "962",
      follow: false
    };
  },

  computed: {
    user() {
      return this.$store.getters["auth/user"];
    },

    production() {
      return this.$store.getters["production/production"];
    },

    theater() {
      return this.$store.getters["theater/theater"];
    },

    router() {
      return this.$route.name;
    }
  }
};
</script>

<style>
</style>
