<template>
  <div>
    <div>
      <!-- <div class="flex flex-center text-primary text-h6">Cast</div> -->
      <div class="text-primary text-h6 row">
        <div>Cast</div>
        <q-space />
      </div>
      <casts />
    </div>
    <div>
      <!-- <div class="flex flex-center text-primary text-h6">Creative</div> -->
      <div class="text-primary text-h6 row">
        <div>Creative</div>
        <q-space />
      </div>
      <creatives />
    </div>
    <popUpAdd :open="dialogue" :info="details" @close="dialogue = $event" @save="save($event)" />
  </div>
</template>

<script>
import casts from "./partials/casts";
import creatives from "./partials/creatives";
import popUpAdd from "./partials/popUpAdd";
export default {
  // name: 'ComponentName',
  components: {
    casts,
    creatives,
    popUpAdd
  },
  data() {
    return {
      dialogue: false,
      details: {}
    };
  },
  methods: {
    async save(push) {
      const endPoint = "/api/program";
      const res = await this.postRequest(endPoint, push);
      const data = res.data;
      this.programs.push(data.data);
      this.clear();
    },
    clear() {
      this.form.title = "";
      this.form.org = "";
      this.form.description = "";
    }
  }
};
</script>

<style>
</style>
