<template>
  <div>
    <div class="row q-gutter-sm no-wrap" >
        <div v-for="(item, index) in contents" :key="index" >
          <q-btn size="md" color="primary" text-color="white" :icon="item.icon" />
          
        </div>
      </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      contents: [
        {icon: 'fab fa-facebook-f', exist: false},
        {icon: 'fab fa-instagram', exist: false},
        {icon: 'fab fa-twitter', exist: false},
        {icon: 'fab fa-linkedin', exist: false},
        {icon: 'fab fa-reddit', exist: false},
      ]
    }
  }
}
</script>

<style>
</style>
