<template>
  <div>
    <div>
      <!-- <div class="text-primary text-h6">Current Show</div> -->
      <div class="text-primary text-h6 row">
        <div>Current Show</div>
        <q-space />
        <q-btn class="q-my-sm" size="sm" color="primary" icon="add" @click="()=>{dialogue = true; details.name = 'Current Show'}" />
      </div>
      <cast />
    </div>
    <div>
      <div class="text-primary text-h6">Upcoming Show</div>
       <div class="row q-gutter-sm no-wrap" >
        <div v-for="(item, index) in contents" :key="index" >
          <q-card class="col" style="width:170px">
            <img src="https://cdn.quasar.dev/img/mountains.jpg">
            <q-card-section class="q-py-xs">
              <div class="text-subtitle2 text-primary text-center">{{item.header}}</div>
            </q-card-section>
            <q-card-section class="q-py-xs">
              <div class="text-caption text-uppercase text-center">{{item.sub_head}}</div>
            </q-card-section>

          </q-card>

        </div>
      </div>
    </div>
    <div>
      <div class="text-primary text-h6">Previous Show</div>
      <cast />
    </div>
    <div>
      <div class="text-primary text-h6 row">
        <div>Theater Social Media</div>
        <q-space />
        <q-btn class="q-my-sm" size="sm" color="primary" icon="add" @click="()=>{dialogue = true; details.name = 'Theater Social Media'}" />
      </div>
      <socials class="q-my-sm"/>
    </div>
    <popUpAdd :open="dialogue" :info="details" @close="dialogue = $event" />
  </div>
</template>

<script>
import cast from './partials/cast'
import popUpAdd from './partials/popUpAdd'
import socials from './socials'
export default {
  // name: 'ComponentName',
  components:{
    cast, socials, popUpAdd
  },
  data () {
    return {
      dialogue: false,
      details:{},
      contents: [
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},

      ]
    }
  }
}
</script>

<style>
</style>
