<template>
  <div>
    <q-btn
      :class="'full-width q-my-xs text-weight-light '"
      color="white"
      text-color="black"
      no-caps
    >{{answer.answer}}</q-btn>

    <!-- <q-dialog v-model="alert">
      <q-card style="max-width: 280px">
        <q-card-section class>
          <div :class="'text-h5 column text-center flex flex-center text-'+remark[2]">
            <q-icon class="text-h3" v-if="valuer.solution == true" name="ion-ios-checkmark-circle" />
            {{remark[0]}}
          </div>
          <div class="text-center">{{remark[1]}}</div>
        </q-card-section>

        <q-card-section class="row q-gutter-md">
          <q-card class="text-center">
            <q-card-section class="bg-blue column q-py-xs">
              <img src="statics/img/mask.svg" style="height: 80px; max-width: 150px" />
              <div class="text-white text-bold">GEEK</div>
            </q-card-section>
            <q-card-section class="q-mt-md">
              <div class="text-blue-10 text-h5 text-bold">{{score}}</div>
            </q-card-section>
          </q-card>

          <q-card class="text-center">
            <q-card-section class="bg-blue column q-py-xs">
              <img src="statics/img/mask.svg" style="height: 80px; max-width: 150px" />
              <div class="text-white text-bold">GENIUS</div>
            </q-card-section>
            <q-card-section class="q-mt-md">
              <div class="text-blue-10 text-h4 text-bold">{{streak}}</div>
            </q-card-section>
          </q-card>
        </q-card-section>

        <q-card-section class="text-center q-gutter-md">
          <div>
            <div class="text-bold text-blue">Genius Streak</div>
            <div>Questions Correct in a row</div>
          </div>

          <div>
            <div class="text-bold text-blue">Geek Streak</div>
            <div>Daily Questions answered in a row</div>
          </div>
        </q-card-section>

        <q-card-actions align="center">
          <q-btn rounded no-caps label="Okay" color="blue" @click="finishMe()" v-close-popup />
        </q-card-actions>
      </q-card>
    </q-dialog>-->
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["answer"],

  data() {
    return {
      alert: false,
      remark: [null, null, null],
      streak: 1,
      score: 1,
      complement: [null, null]
    };
  },

  methods: {
    finishMe() {
      this.$router.push("feed/list");
    },

    onClick(e, val) {
      val.solution = e.target.innerText === this.QDaybuttons[3].value;
      val.check = "ion-ios-checkmark-circle";
      val.answer = val.solution ? "green" : "red";
      this.$props.QDaybuttons[3].answer =
        val.answer == "red" ? "green" : "green";
      this.$props.QDaybuttons[3].check =
        val.answer == "red"
          ? "ion-ios-checkmark-circle"
          : "ion-ios-checkmark-circle";
      this.$props.QDaybuttons.map(character =>
        character.value == val.value
          ? (character.active = false)
          : character.value == this.$props.QDaybuttons[3].value
          ? (character.active = false)
          : (character.active = true)
      );
      this.alert = true;
      this.remark = val.solution
        ? [
            "Good Job!",
            "You picked the correct answer. Your Genius Streak Went Up!",
            "green"
          ]
        : [
            "Better luck next time",
            "You picked the wrong answer. Your Genius Streak Went down!",
            "blue"
          ];
      // this.streak = counter * 10;
      // this.score = this.streak * 10;
      // counter < 0.4 ? this.$emit("alert", counter + 0.1) : (counter = 0.1);
    }
  }
};
</script>

<style>
</style>
