<template>
  <div class="row text-italic text-caption q-gutter-y-md">
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Headline</div>
      <q-input
        borderless
        dense
        style="max-width: 50%"
        filled
        v-model="form.title"
        label="what's the headline of your article"
      />
    </div>

    <div class="col-12 row">
      <div class="col-6">
        <div>
          <div class="bg-none text-caption text-primary text-bold text-left">Tags</div>
          <q-select
            filled
            use-input
            v-model="form.tags"
            label="Select Multiple Tags"
            use-chips
            multiple
            input-debounce="0"
            @new-value="createValue"
            :options="tag_options"
            @filter="filterFn"
            style="width: 250px"
          />
          <!-- <q-select
            filled
            dense
            v-model="form.tags"
            :options="tag_options"
            label="Select Multiple Tags"
            multiple
            emit-value
            use-input
            map-options
            style="max-width: 70%"
          >
            <template v-slot:option="scope">
              <q-item clickable v-bind="scope.itemProps" v-on="scope.itemEvents">
                <q-item-section>
                  <q-item-label v-html="scope.opt.label"></q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-toggle v-model="form.tags" :val="scope.opt.value" />
                </q-item-section>
              </q-item>
            </template>
          </q-select>-->
        </div>
      </div>

      <div class="col-6">
        <div class="bg-none text-caption text-primary text-bold text-left">Photo</div>
        <q-uploader
          flat
          hide-upload-btn
          :url="url"
          method="post"
          field-name="data"
          style="max-width: 70%"
          color="transparent"
          label="Drag Photo To Upload"
          text-color="grey-7"
          dropzone
          no-thumbnails
          :form-fields="[
                  {'name': 'post_id','value': this.media_form.post_id}
                ]"
          :headers="[
                { name: 'Authorization', value: this.$store.state.auth.token }
                ]"
          ref="uploadMedia"
        />
      </div>
    </div>

    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Body</div>
      <q-input
        type="textarea"
        rows="3"
        v-model="form.body"
        borderless
        filled
        placeholder="Type Article here..."
      />
    </div>

    <div class="col-12 q-gutter-md q-my-sm">
      <q-btn
        class="q-px-md"
        dense
        color="primary"
        label="Post"
        @click="saveArticle(false)"
        :loading="loading"
      />
    </div>
  </div>
</template>

<script>
import { requestMixin } from "../../mixins/ajaxMixins";
import { date } from "quasar";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      loading: false,
      form: {
        title: "",
        tags: [],
        photo: "",
        body: "",
        post_type: "article",
        is_draft: false
      },
      tag_options: [],
      url: process.env.Api + "/api/media",
      media_form: {
        post_id: ""
      }
    };
  },

  mounted() {
    this.getTags();
  },

  methods: {
    async saveArticle(is_draft) {
      this.form.is_draft = await is_draft;
      const endPoint = "/api/post";
      const res = await this.postRequest(endPoint, this.form);
      const data = await res.data;
      this.media_form.post_id = await data.data.id;
      await this.upload(data.data.id);
      this.clear();
      this.$emit('dialogue', false)
      // this.$store.commit("post/post", { data: data.data });
    },

    async upload(id) {
      this.media_form.post_id = await id;
      this.$refs.uploadMedia.upload();
      // this.clear();
    },

    async getTags() {
      const endPoint = "/api/tag";
      const data = await this.getRequest(endPoint);
      const res = data.data;
      res.data.forEach(element => {
        this.tag_options.push({ label: element.name, value: element.id });
      });
    },

    clear() {
      this.form.title = "";
      this.form.tags = [];
      this.form.photo = "";
      this.form.body = "";
      this.form.post_type = "article";
    }
  }
};
</script>

<style>
</style>
