<template>
  <div class="row text-italic text-caption q-gutter-y-md">
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Title</div>
      <q-input
        filled
        borderless
        dense
        v-model="form.title"
        label="What is your event"
        style="max-width: 50%"
      />
    </div>
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Location</div>
      <q-input
        borderless
        filled
        dense
        v-model="form.location"
        label="Ex: New York, New York"
        style="max-width: 50%"
      />
    </div>
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Description</div>
      <q-input
        type="textarea"
        v-model="form.body"
        borderless
        filled
        rows="3"
        placeholder="Describe Your Event"
      />
    </div>

    <div class="col-12 row">
      <div class="bg-none text-caption text-primary text-bold text-left col-12">Date</div>
      <q-input filled dense v-model="form.date" style="max-width: 40%">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-date v-model="form.date" @input="() => $refs.qDateProxy.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-btn flat dense color="primary" label="Today" @click="get_today()" />
    </div>

    <div class="col-12 row">
      <div class="bg-none text-caption text-primary text-bold text-left col-12">Time</div>
      <q-input filled dense v-model="form.date" style="max-width: 40%">
        <template v-slot:append>
          <q-icon name="access_time" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-time v-model="form.time" format24h />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
    </div>

    <div class="col-6">
      <div class="bg-none text-caption text-primary text-bold text-left">Photo</div>
      <q-uploader
        flat
        hide-upload-btn
        :url="url"
        method="post"
        field-name="data"
        style="max-width: 70%"
        color="transparent"
        label="Drag Photo To Upload"
        text-color="grey-7"
        dropzone
        no-thumbnails
        :form-fields="[
                  {'name': 'post_id','value': this.media_form.post_id}
                ]"
        :headers="[
                { name: 'Authorization', value: 'Bearer '+this.$store.state.auth.token }
                ]"
        ref="uploadMedia"
      />
    </div>

    <!-- <div class="col-6">
      <div class="bg-none text-caption text-primary text-bold text-left">Add Invited Guests</div>
      <q-select
        dense
        filled
        clearable
        v-model="form.users"
        :options="users_options"
        label="Select Multiple Users To Notify"
        multiple
        emit-value
        map-options
      >
        <template v-slot:option="scope">
          <q-item v-bind="scope.itemProps" v-on="scope.itemEvents">
            <q-item-section>
              <q-item-label v-html="scope.opt.label"></q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-toggle v-model="form.users" :val="scope.opt.value" />
            </q-item-section>
          </q-item>
        </template>
      </q-select>
    </div> -->

    <!-- <div class="col-12 text-left">
      <div class="bg-none text-caption text-primary text-bold text-left">Visibility</div>
      <q-toggle v-model="form.visibility" color="primary" />
    </div> -->

    <!-- <div class="col-12 row text-left">
      <q-btn
        dense
        size="sm"
        flat
        class="bg-blue-2 q-px-md q-mr-sm"
        text-color="primary"
        label="Invited guests"
      />
      <div class="text-black">{{ form.users.length }} invited</div>
    </div> -->

    <!-- buttons -->
    <div class="col-12 q-gutter-sm text-left">
      <q-btn class="q-px-md" dense color="primary" @click="save(false)" :loading="loading">
        <div class="text-caption text-bold">Post</div>
      </q-btn>
      <!-- <q-btn dense flat class="bg-blue-2 q-px-md" text-color="primary" @click="save(true)">
        <div class="text-caption text-bold">Save As Draft</div>
      </q-btn> -->
    </div>
  </div>
</template>

<script>
import left from "./event/left";
import right from "./event/right";
import { requestMixin } from "../../mixins/ajaxMixins";
import { date } from "quasar";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  components: {
    left,
    right
  },
  data() {
    return {
      users_options: [],
      loading: false,
      form: {
        title: "",
        body: "",
        date: "",
        time: "",
        users: [],
        post_type: "event",
        visibility: true,
        is_draft: false
      },
      url: process.env.Api + "/api/media",
      media_form: {
        post_id: ""
      }
    };
  },
  mounted() {
    this.getUsers();
  },

  methods: {
    async save(is_draft) {
      this.form.is_draft = await is_draft;
      const endPoint = "/api/post";
      const res = await this.postRequest(endPoint, this.form);
      const data = await res.data;
      this.media_form.post_id = await data.data.id;
      await this.upload(data.data.id);
      this.$store.commit("post/post", { data: data.data });
      this.clear();
      this.$emit('dialogue', false)
    },

    async upload(id) {
      this.media_form.post_id = await id;
      this.$refs.uploadMedia.upload();

      // await this.$refs.uploadMedia.upload();
    },

    async getUsers() {
      const endPoint = "/api/authors";
      const data = await this.getRequest(endPoint);
      const res = data.data;
      res.data.forEach(element => {
        this.users_options.push({
          label: element.firstname,
          value: element.id
        });
      });
    },

    get_today() {
      let timeStamp = Date.now();
      this.form.date = date.formatDate(timeStamp, "YYYY/MM/DD");
    },

    clear() {
      this.form.title = "";
      this.form.body = "";
      this.form.post_type = "event";
      this.form.date = "";
      this.form.time = "";
      this.form.users = [];
      this.form.visibility = true;
    }
  }
};
</script>

<style>
</style>
