<template>
  <div class="row text-italic text-caption q-gutter-y-md">
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Title</div>
      <q-input
        filled
        borderless
        dense
        v-model="form.title"
        label="What Was Your Milstone?"
        style="max-width: 50%"
      />
    </div>
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Type</div>
      <q-select
        filled
        borderless
        dense
        :options="options"
        v-model="form.sub_type"
        label="Moments"
        style="max-width: 200px"
      />
    </div>
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Description</div>
      <q-input
        type="textarea"
        v-model="form.body"
        borderless
        filled
        rows="3"
        placeholder="Describe Your Milstone"
      />
    </div>
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Location</div>
      <q-input
        borderless
        filled
        v-model="form.location"
        label="Where did this milstone happen"
        style="max-width: 50%"
      />
    </div>
    <div class="col-12 row">
      <div class="bg-none text-caption text-primary text-bold text-left col-12">Date</div>
      <q-input filled dense v-model="form.date" style="max-width: 40%">
        <template v-slot:append>
          <q-icon name="event" class="cursor-pointer">
            <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
              <q-date v-model="form.date" @input="() => $refs.qDateProxy.hide()" />
            </q-popup-proxy>
          </q-icon>
        </template>
      </q-input>
      <q-btn flat dense color="primary" label="Today" @click="get_today()" />
    </div>
    <div class="col-12">
      <div class="bg-none text-caption text-primary text-bold text-left">Photo</div>
      <q-uploader
        flat
        hide-upload-btn
        :url="url"
        method="post"
        field-name="data"
        style="max-width: 300px"
        color="transparent"
        label="Drag Photo To Upload"
        text-color="grey-7"
        dropzone
        no-thumbnails
        :form-fields="[
                  {'name': 'post_id','value': this.media_form.post_id}
                ]"
        :headers="[
                { name: 'Authorization', value: 'Bearer '+this.$store.state.auth.token }
                ]"
        ref="uploadMedia"
      />
    </div>
    <div class="col-12 text-left q-gutter-sm">
      <q-btn class="q-px-md" dense color="primary" label="Post" @click="save(false)" />
      <q-btn
        dense
        flat
        class="bg-blue-2 q-px-md"
        label="Save As Draft"
        text-color="primary"
        @click="save(true)"
      />
    </div>
  </div>
</template>

<script>
import { requestMixin } from "../../mixins/ajaxMixins";
import { date } from "quasar";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      form: {
        body: "",
        title: "",
        location: "",
        body: "",
        date: "",
        post_type: "milestone",
        sub_type: "",
        is_draft: false
      },
      url: process.env.Api + "/api/media",
      media_form: {
        post_id: ""
      },
      options: ["Option One", "Option Two", "Option Three"]
    };
  },

  methods: {
    async save(is_draft) {
      this.form.is_draft = await is_draft;
      const endPoint = "/api/post";
      const res = await this.postRequest(endPoint, this.form);
      const data = await res.data;
      this.media_form.post_id = await data.data.id;
      await this.upload(data.data.id);
      this.$store.commit("post/post", { data: data.data });
      this.clear();
      this.$emit('dialogue', false)
    },
    async upload(id) {
      this.media_form.post_id = await id;
      this.$refs.uploadMedia.upload();

      // await this.$refs.uploadMedia.upload();
    },

    get_today() {
      let timeStamp = Date.now();
      this.form.date = date.formatDate(timeStamp, "YYYY/MM/DD");
    },

    clear() {
      this.form.title = "";
      this.form.body = "";
      this.form.post_type = "milestone";
      this.form.date = "";
      this.form.time = "";
      this.form.location = "";
      this.form.sub_type = "";
    }
  }
};
</script>

<style>
</style>
