<template>
  <q-page class="" style="background-image: url('../statics/slides/cover.jpg');
  background-color: #cccccc; background-position: center;
  background-repeat: no-repeat; background-size: cover;"
  >
    <!-- content -->
    <q-toolbar class="transparent" style="margin-buttom: -50px">
        <q-toolbar-title>
          <!-- <q-img src="statics/logo.png" style="width: 200px" tag="a" :to="{name: 'index'}"/> -->
          <q-btn :to="{name: 'index'}">
            <img src="statics/logo.png" style="width: 200px"  />
          </q-btn>
          <!-- <q-btn color="primary" text-color="white" label="feed" :to="{name: 'grid'}"/> -->
        </q-toolbar-title>

      </q-toolbar>

    <login v-if="$route.name == 'login'"/>
    <register v-else-if="$route.name == 'register'" />
    <changePassword v-else-if="$route.name == 'changePassword'" />
  </q-page>
</template>

<script>
import login from 'components/auth/login'
import register from 'components/auth/register'
import changePassword from 'components/auth/changePassword'
export default {
  // name: 'PageName',
  components:{
    login,register,changePassword
  }
}
</script>

<style>
</style>
