<template>
  <q-page>
    <!-- content -->
    <Layout class>
      <Discover slot="LayoutContent" />
    </Layout>
  </q-page>
</template>

<script>
import Layout from "../components/home/partials/layout";
import Discover from "../components/discover/index";
import trending from "../components/discover/partials/trending";
export default {
  // name: 'PageName',
  components: {
    Discover,Layout,trending
  }
};
</script>

<style>
</style>
