<template>
  <q-page>
    <!-- content -->
    <Layout class="flex flex-center">
      <faq slot="LayoutContent"/>  
    </Layout>
    
  </q-page>
</template>

<script>
import Layout from '../components/home/partials/layout'
import faq from '../components/faq/index'
export default {
  // name: 'PageName',
  components:{
    faq, Layout
  }
}
</script>
