<template>
  <q-page>
    <!-- content -->
    <Layout class="flex flex-center">
      <Feed slot="LayoutContent"/>  
    </Layout>
    
  </q-page>
</template>

<script>
import Layout from '../components/home/partials/layout'
import Feed from '../components/feed/index'
export default {
  // name: 'PageName',
  components:{
    Feed, Layout
  }
}
</script>
