<template>
  <q-page>
    <!-- content -->
    <index />
  </q-page>
</template>

<script>
import index from 'components/home/index'
export default {
  // name: 'PageName',
  components:{
    index
  }
}
</script>

<style>
</style>
