<template>
  <q-page>
    <div class="text-white">
      <div class="text-h2 text-center">Broadway Connected</div>
      <p class="text-italic">Theater: Anywhere, Anytime, for Anyone</p>
    </div>
  </q-page>
</template>


<script>
export default {
  name: "PageIndex",
  data() {
    return {};
  }
};
</script>


<style>
</style>
