<template>
  <q-page padding>
    <!-- content -->
    <index />
  </q-page>
</template>

<script>
import index from "components/my-favourite/index";
export default {
  // name: 'PageName',
  components: {
    index
  }
};
</script>

<style>
</style>
