<template>
  <q-page>
    <!-- content -->
    <Layout class>
      <Notification slot="LayoutContent" />
    </Layout>
  </q-page>
</template>

<script>
import Layout from "../components/home/partials/layout";
import Notification from "../components/notification/index";
export default {
  // name: 'PageName',
  components: {
    Notification, Layout
  }
};
</script>

<style>
</style>
