<template>
  <q-page padding>
    <Layout class="">
      <Question slot="LayoutContent"/>
    </Layout>
  </q-page>
</template>

<script>
import Question from '../components/QoftheDay/index'
import Layout from '../components/home/partials/layout'
export default {
  // name: 'PageName',
  components:{
    Question, Layout
  }
}
</script>

<style>
</style>
