<template>
  <q-page>
    <!-- content -->
    <Layout class="">
      <Profile slot="LayoutContent"/>
      <!-- <Profile slot="LayoutContent"/>   -->
    </Layout>
  </q-page>
</template>

<script>
import Layout from '../components/home/partials/layout'
import Profile from '../components/profile/index'
import Feed from '../components/feed/index'
export default {
  // name: 'PageName',
  components: {
    Profile, Layout, Feed
  },
}
</script>

<style>
</style>
