<template>
  <q-page>
    <!-- content -->
    <Layout class>
      <Profile slot="LayoutContent" />
    </Layout>
  </q-page>
</template>

<script>
import Profile from "../components/profile/index";
import Layout from "../components/home/partials/layout";
export default {
  // name: 'PageName',
  components: {
    Profile,
    Layout
  }
};
</script>

<style>
</style>
