<template>
  <div class="q-py-md" >
    <div class="text-bold q-py-sm q-px-lg text-primary text-h6">Trending</div>
    <div >
      <scroll class="no-wrap" >
         <Trending slot="slideContent"/>
      </scroll>
      <!-- <Trending /> -->
    </div>
    
    <div class="q-px-xl q-py-lg">
      <div class="text-bold q-py-sm text-primary text-h6">Discover Theater</div>
      <Theater :trending="trending" />
    </div>
    

    <div class="row q-px-lg">
      <div class="column col-md-6">
        <div class="text-bold q-py-sm text-grey text-h6">Theater Professions</div>
        <Others :datas="theaterProfession"/>
      </div>
      <div class="column col-md-6">
        <div class="text-bold q-py-sm text-grey text-h6">Education</div>
        <Others :datas="Business" />
      </div>
    </div>

    <div class="row q-px-lg q-py-lg">
      <div class="column col-md-6">
        <div class="text-bold text-grey text-h6">Business</div>
        <Others :datas="Education" />
      </div>
      <div class="column col-md-6">
        <div class="text-bold text-grey text-h6">Emerging Media</div>
        <Others :datas="EmergingMedia" />
      </div>
    </div>

  </div>
</template>

<script>
import Trending from './partials/trending'
import Theater from './partials/discover_theater'
import Others from './partials/others'
import scroll from './partials/scroll'
export default {
  // name: 'ComponentName',
  components:{
    Trending, Theater, Others, scroll
  },
  data () {
    return {
      theaterProfession:[
        {title: 'Performance Reviews'},
        {title: 'Script Analysis'},
        {title: 'Directing'},
        {title: 'Writing'},
        {title: 'Producing'},
        {title: 'Acting'},
      ],
      Business:[
        {title: 'Industry News'},
        {title: 'Business Broadway'},
        {title: 'Stage Management'},
        {title: 'General Management'},
      ],
      Education:[
        {title: 'High School theater'},
        {title: 'University Theater'},
        {title: 'Theater Education'},
      ],
      EmergingMedia:[
        {title: 'Broadway on TV'},
        {title: 'Tech in Theater'},
      ],
      // trending: [
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      //   {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Hamilton', field:'Production'},
      // ],
      trending: [
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Article', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Events', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Companies', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'People', field:'Production'},
        {img: 'https://cdn.thestage.co.uk/wp-content/uploads/2017/03/01160459/3.-Broadway-Junior.-Little-Mermaid-700x455.jpg', username: 'hamilton', title: 'Production', field:'Production'},
      ]
    }
  }
}
</script>

<style>
</style>
