<template>
  <div class="row">
    <q-card flat square class="col-12 my-card full-width">
      <q-card-section class="q-pa-none">
        <q-img src="statics/slides/cover.jpg" style="height: 240px; width: 100%" />
      </q-card-section>
      <q-card-section class="row flex-center" style="margin-top: -20px;">
        <div class="q-mr-md">
          <q-avatar size="100px" color="primary" text-color="white" icon="person" />
        </div>
        <div class>
          {{userData.firstname}} {{userData.lastname}}
          <br />
          {{'@'+userData.firstname}}
          <br />
          {{'headline'}}
        </div>

        <div class="q-ml-xl">
          <q-btn no-caps size="sm" color="primary" label="+ Follow" />
        </div>
      </q-card-section>
      <q-card-section class="q-pb-none">
        <q-tabs v-model="tab" dense class="text-primary">
          <q-tab name="feed" no-caps label="User Feeds" />
          <q-tab name="calendar" no-caps label="Calendar" />
          <q-tab name="followers" no-caps label="Followers">1,200</q-tab>
          <q-tab name="following" no-caps label="Following">800</q-tab>
        </q-tabs>
      </q-card-section>
      <q-separator />
      <q-separator />
    </q-card>

    <q-card flat class="col-12 text-center">
      <q-card-section class="no-wrap q-gutter-sm">
        <q-btn flat no-caps size="sm" label="sort by" class="bg-grey-5" />
        <q-btn flat no-caps size="sm" outline class="bg-primary" label="Milestone X" />
        <q-btn flat no-caps size="sm" outline class="bg-primary" label="Moment X" />
        <q-btn flat no-caps size="sm" outline class="bg-primary" label="Event X" />
        <q-btn no-caps color="primary" size="sm" outline label="Article" />
      </q-card-section>
    </q-card>

    <div flat class="col-12 row flex-center">
      <q-card class="shadow-2" style="max-width: 500px">
        <q-card-section class="row flex-center">
          <div class="q-mr-sm">
            <q-avatar color="red" text-color="white" icon="person" size="200" />
          </div>
          <div>
            <span class="text-weight-bold">{{userData.firstname}} {{userData.lastname}}</span>
            <br />
            <span>some more info</span>
          </div>
          <q-space />
          <div>
            <q-icon name="more_vert" />
          </div>
        </q-card-section>
        <q-card-section class="q-px-none">
          <q-img src="statics/slides/cover.jpg" style="width: 100%" />
        </q-card-section>
        <q-card-section class="no-wrap q-gutter-xs">
          <q-btn flat no-caps dense icon="thumb_up" label="500" />
          <q-btn flat no-caps dense icon="message" label="400" />
          <q-btn flat no-caps dense icon="share" label="250" />
          <q-btn flat no-caps dense icon="golf_course" />
          <q-btn flat no-caps dense icon="timer" label="6 sec" />
        </q-card-section>
        <q-separator />
        <q-separator />
        <q-card-section>
          <div class="text-primary text-weight-bold">Lorem ipsum dolor sit amet</div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, vitae qui exercitationem itaque soluta laudantium repellendus. Voluptatum porro dolores consequuntur odit, vitae non fugit velit ducimus, dolorem quasi a laborum.</div>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      tab: "feed"
    };
  },

  computed: {
    userData: function() {
      return this.$store.getters["auth/user"];
    }
  }
};
</script>

<style>
</style>
