<template>
  <div>
    <q-card class="full-width column">
      <q-card-section class="col-xs-12 col-sm-12 col-md-12">
        <q-card flat class="row q-px-sm">
          <q-card-section class="col-xs-12 col-sm-12 col-md-9 q-px-sm q-pt-none">
            <feedHeader />
            <left :posts="posts" />
          </q-card-section>

          <q-card-section class="col-xs-12 col-sm-12 col-md-3 q-px-sm q-pt-none">
            <right />
          </q-card-section>
        </q-card>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import left from "./partials/contentExp";
import right from "./righty";
import feedHeader from "../partials/header";
export default {
  // name: 'ComponentName',
  components: {
    right,
    left,
    feedHeader
  },
  data() {
    return {};
  },
  computed: {
    posts() {
      return this.$store.getters["post/posts"];
    }
  }
};
</script>
