<template>
  <div>
    <div class>
      <q-card class="row q-px-xs">
        <!-- Milestones -->
        <q-card-section class="col-sm-12 col-md-3 q-px-xs q-pt-none">
          <q-card class="bg-blue-1 q-px-xs">
            <q-card-section class="q-pb-none q-pt-sm">
              <q-item>
                <q-item-section>
                  <q-item-label top class="text-primary text-h6">Milestones</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="fas fa-times" color="primary" />
                </q-item-section>
              </q-item>
            </q-card-section>

            <q-card-section class="q-px-xs">
              <div class="q-mb-sm" v-for="(post, index) in posts" :key="index">
                <cards v-if="post.post_type == 'milestone'" :post="post" />
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>

        <!--Movements -->
        <q-card-section class="col-sm-12 col-md-3 q-px-xs">
          <q-card class="bg-blue-1 q-px-xs">
            <q-card-section class="q-pb-none q-pt-sm">
              <q-item>
                <q-item-section>
                  <q-item-label top class="text-primary text-h6">Moments</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="fas fa-times" color="primary" />
                </q-item-section>
              </q-item>
            </q-card-section>

            <q-card-section class="q-px-xs">
              <div class="q-mb-sm" v-for="(post, index) in posts" :key="index">
                <cards v-if="post.post_type == 'moment'" :post="post" />
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>

        <!-- Events -->
        <q-card-section class="col-sm-12 col-md-3 q-px-xs">
          <q-card class="bg-blue-1 q-px-xs">
            <q-card-section class="q-pb-none q-pt-sm">
              <q-item>
                <q-item-section>
                  <q-item-label top class="text-primary text-h6">Events</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="fas fa-times" color="primary" />
                </q-item-section>
              </q-item>
            </q-card-section>

            <q-card-section class="q-px-xs">
              <div class="q-mb-sm" v-for="(post, index) in posts" :key="index">
                <cards v-if="post.post_type == 'event'" :post="post" />
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>

        <!-- Articles -->
        <q-card-section class="col-sm-12 col-md-3 q-px-xs">
          <q-card class="bg-blue-1 q-px-xs">
            <q-card-section class="q-pb-none q-pt-sm">
              <q-item>
                <q-item-section>
                  <q-item-label top class="text-primary text-h6">Articles</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon name="fas fa-times" color="primary" />
                </q-item-section>
              </q-item>
            </q-card-section>

            <q-card-section class="q-px-xs">
              <div class="q-mb-sm" v-for="(post, index) in posts" :key="index">
                <cards v-if="post.post_type == 'article'" :post="post" />
              </div>
            </q-card-section>
          </q-card>
        </q-card-section>
      </q-card>
    </div>
  </div>
</template>

<script>
import contentCards from "./partials/contentMin";
export default {
  // name: 'ComponentName',
  components: {
    cards: contentCards
  },
  data() {
    return {};
  },

  computed: {
    posts() {
      return this.$store.getters["post/posts"];
    }
  }
};
</script>
