<template>
  <div>
    <div
      class="text-bold text-h4 q-pt-lg text-primary q-pb-none"
      v-if="route == 'production'"
    >User Feed</div>
    <q-item class="q-px-none q-pt-none">
      <q-item-section>
        <q-card class="col-12 row q-pa-sm q-gutter-xs" flat style="width: 80%">
          <div class="col-xs-12 col-sm-12 col-md-3">
            <q-btn-dropdown
              no-caps
              color="grey-5"
              class="q-px-xl"
              text-color="black"
              label="View By"
            >
              <q-list>
                <q-item clickable v-close-popup :to="{name: 'grid'}">
                  <q-item-section>
                    <q-item-label>Grid</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item clickable v-close-popup :to="{name: 'list'}">
                  <q-item-section>
                    <q-item-label>List</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <!-- <q-select filled standout dense bg-color="grey-5" color="white" v-model="model" :options="options1" label="Sort By"/> -->
            <!-- <q-separator vertical="" /> -->
          </div>
        </q-card>
      </q-item-section>

      <!-- <q-item-section side v-if="route != 'grid'">
        <div class="flex full-width">
          <div v-for="(item, index) in pstContent2" :key="index">
            <q-card class="text-primary q-pt-sm q-pb-sm bg-blue-2 q-px-md q-mr-xs" flat>
              {{item}}
              <q-icon name="close" class="close" @click="remover(item)" />
            </q-card>
          </div>
        </div>
      </q-item-section>-->

      <q-space />

      <!-- <div>
        <q-btn v-if="last_question_date" color="primary" :label="'QOD'" :to="{name: 'QoftheDay'}" />
      </div>-->

      <q-item-section side v-if="route == 'grid'|| route == 'list'">
        <!-- <q-btn icon="add" color="blue" text-color="white" label="Add Post" /> -->

        <addPost />
      </q-item-section>
    </q-item>
  </div>
</template>

<script>
import addPost from "components/new_post/index";
import { requestMixin } from "components/mixins/ajaxMixins";
import { date } from "quasar";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  components: {
    addPost
  },
  data() {
    return {
      pstContent2: ["Milestone", "Moments", "Article", "Events"],
      model: null,
      options: ["Moment", "Milestone", "Article", "Event"],
      options1: ["Grid", "List"],
      name: "grid",
      last_question_date: null
    };
  },
  mounted() {
    this.get_question();
  },
  methods: {
    remover(e) {
      console.log(e);
      var array = this.pstContent2;
      var index = array.indexOf(e);
      array = array.filter(item => {
        return item !== array[index];
      });
      this.pstContent2 = array;
      console.log(this.$route.name);
    },

    viewAdjustment() {
      if (this.$route.name == "production") {
      }
    },

    async get_question() {
      const endPoint = "/api/user_question";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.last_question_date = date.getDateDiff(
        date.formatDate(Date.now(), "YYYY-MM-DD"),
        data.data.last_question_of_the_day_date
      );
      // data.data.last_question_of_the_day_date ==
    }
  },

  computed: {
    route: function() {
      return this.$route.name;
    },
    user() {
      return this.$store.getters["auth/user"];
    }
  }
};
</script>
<style>
.close:hover {
  color: red;
}
</style>
