<template>
  <div class="q-gutter-y-sm">
    <Follow />
    <Trending />
  </div>
</template>

<script>
import Trending from './partials/trending'
import Follow from './partials/followSuggestion'
export default {
  // name: 'ComponentName',
  components:{
    Trending, Follow
  },
  data () {
    return {}
  }
}
</script>
