<template>
  <div>
    <div class>
      <q-btn icon="add" color="blue" text-color="white" label="Add Post" @click="alert = true" />

      <q-dialog v-model="alert">
        <q-card class="bg-grey-2" style="max-width:900px">
          <q-card-section>
            <q-tabs
              v-model="tab"
              align="justify"
              narrow-indicator
              class="q-mb-none"
              active-bg-color="white"
            >
              <q-tab class="text-primary" name="Moment" label="Moment" />
              <q-tab class="text-primary" name="Milestone" label="Milestone" />
              <q-tab class="text-primary" name="Article" label="Article" />
              <q-tab class="text-primary" name="Event" label="Event" />
            </q-tabs>

            <div class="q-gutter-y-sm">
              <q-tab-panels
                v-model="tab"
                animated
                transition-prev="scale"
                transition-next="scale"
                class="bg-white text-white text-center full-width"
              >
                <q-tab-panel name="Moment">
                  <moment @dialogue="alert = $event" />
                </q-tab-panel>

                <q-tab-panel name="Milestone">
                  <milestone @dialogue="alert = $event" />
                </q-tab-panel>

                <q-tab-panel class="fit" name="Article">
                  <articles @dialogue="alert = $event" />
                </q-tab-panel>

                <q-tab-panel name="Event">
                  <event @dialogue="alert = $event" />
                </q-tab-panel>
              </q-tab-panels>
            </div>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
  </div>
</template>

<script>
import articles from "./partials/article";
import event from "./partials/event";
import milestone from "./partials/milestone";
import moment from "./partials/moment";
export default {
  // name: 'ComponentName',
  components: {
    articles,
    event,
    milestone,
    moment
  },
  data() {
    return {
      alert: false,
      tab: "Article"
    };
  }
};
</script>

<style>
</style>
