<template>
  <div class="flex flex-center">
    <q-card class style="max-width: 300px">
      <q-card-section class="text-center text-white bg-blue">
        <div
          class="text-uppercase text-caption q-pb-md text-weight-light q-pb-none"
        >Question of the Day</div>

        <img src="statics/img/mask.svg" style="height: 80px; max-width: 150px" />
        <!-- <div v-for="(item, index) in QoftheDay" :key="index">
          <div
            v-if="index == (progress.toPrecision(1) * 10)-1"
            class="text-h5 text-bold q-pb-lg"
          >{{item}}</div>
        </div>-->
        <div>
          <div class="text-h5 text-bold q-pb-lg">{{question.name}}</div>
        </div>
        <!-- <div class="text-h4 text-weight-light">{{progress.toPrecision(1) * 10}}</div> -->
        <q-linear-progress
          rounded
          :value="progress"
          color="white"
          track-color="blue-10"
          class="q-mt-md"
        />
      </q-card-section>
      <q-card-section class="text-weight-light bg-blue-8">
        <div>
          <div>
            <div v-for="answer in question.answers" :key="answer.id">
              <q-btn
                :class="'full-width q-my-xs text-weight-light '"
                :color="'white'"
                :text-color="answered && answer.is_true ? 'secondary' : 'black'"
                no-caps
                @click="answerFn(answer)"
              >
                <q-icon
                  v-if="answered"
                  size="xs"
                  :name="answer.is_true ? 'check_circle' : 'cancel'"
                  :color="answer.is_true ? 'secondary' : 'negative'"
                />
                {{answer.answer}}
              </q-btn>
            </div>
          </div>
        </div>
      </q-card-section>
    </q-card>

    <q-dialog v-model="open">
      <q-card style="max-width: 280px">
        <q-card-section class="text-center">
          <div
            :class="'text-h5 column text-center flex flex-center '+ answer_details.is_true ? 'text-secondary' : 'text-negative'"
          >
            <q-icon
              class="text-h3"
              v-if="answer_details && answer_details.is_true"
              name="ion-ios-checkmark-circle"
            />
            <div
              v-if="answer_details"
              :class="answer_details.is_true ? 'text-secondary' : 'text-primary'"
            >
              <span v-if="answer_details.is_true">Good Job</span>
              <span v-else>Better luck next time</span>
            </div>
          </div>
          <div class="text-center">
            <div v-if="answer_details">
              <span
                v-if="answer_details.is_true"
              >You picked the correct answer. Your Genius Streak Went Up!</span>
              <span v-else>You picked the wrong answer. Your Genius Streak Went down!</span>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="row q-gutter-md">
          <q-card class="text-center">
            <q-card-section class="bg-blue column q-py-xs">
              <img src="statics/img/mask.svg" style="height: 80px; max-width: 150px" />
              <div class="text-white text-bold">GEEK</div>
            </q-card-section>
            <q-card-section class="q-mt-md">
              <div class="text-blue-10 text-h5 text-bold">{{form.geek}}</div>
            </q-card-section>
          </q-card>

          <q-card class="text-center">
            <q-card-section class="bg-blue column q-py-xs">
              <img src="statics/img/mask.svg" style="height: 80px; max-width: 150px" />
              <div class="text-white text-bold">GENIUS</div>
            </q-card-section>
            <q-card-section class="q-mt-md">
              <div class="text-blue-10 text-h4 text-bold">{{form.genius}}</div>
            </q-card-section>
          </q-card>
        </q-card-section>

        <q-card-section class="text-center q-gutter-md">
          <div>
            <div class="text-bold text-blue">Genius Streak</div>
            <div>Questions Correct in a row</div>
          </div>

          <div>
            <div class="text-bold text-blue">Geek Streak</div>
            <div>Daily Questions answered in a row</div>
          </div>
        </q-card-section>

        <q-card-actions align="center">
          <q-btn rounded no-caps label="Okay" color="blue" @click="save()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
import Success from "./partials/success";
import { date } from "quasar";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  components: { Success },
  data() {
    return {
      open: false,
      progress: 0.0,
      question: null,
      answered: false,
      answer_details: null,
      user_data: null,
      timer: null,
      form: {
        geek: "",
        genius: ""
      }
    };
  },

  async mounted() {
    const endPoint = "/api/user_question";
    const res = await this.getRequest(endPoint);
    const data = res.data;
    this.last_question_date = date.getDateDiff(
      date.formatDate(Date.now(), "YYYY-MM-DD"),
      data.data.last_question_of_the_day_date
    );

    if (this.last_question_date) {
      this.timerStart();
    } else {
      this.$q.notify({
        color: "negative",
        message: "Please check back tomorrow",
        position: "bottom-left"
      });
      this.$router.push("feed/list");
    }

    this.getQuestions();
  },

  methods: {
    timerStart() {
      this.timer = setInterval(() => {
        this.progress += 0.1;
        if (this.progress > 1) {
          this.timeOutalert();
          clearInterval(this.timer);
        }
      }, 1000);
    },

    timerStop() {
      clearInterval(this.timer);
    },

    async getQuestions() {
      const endPoint = "/api/question";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.question = data.data;
      this.user_data = data.user_data;
    },

    async answerFn(answer) {
      this.timerStop();
      this.form.geek = this.user_data.geek + 1;
      this.form.genius = answer.is_true ? this.user_data.genius + 1 : 0;
      this.answered = true;
      this.answer_details = answer;
      this.open = true;
    },

    async save() {
      const endPoint = "/api/user_question";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      this.$router.push("feed/list");
    },

    timeOutalert() {
      this.$q
        .dialog({
          title: "QOD Alert",
          message: "Sorry Your time Run Out Try Again Tomorrow"
        })
        .onOk(() => {
          this.form.geek = this.user_data.geek + 1;
          this.form.genius = 0;
          this.save();
        })
        .onCancel(() => {
          // console.log('Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    }
  }
};
</script>

<style>
</style>
