<template>
  <div class="q-gutter-xs flex flex-center">
    <div class="row q-gutter-sm flex-center">
      <div v-for="(faculty, index) in faculties" :key="index">
        <q-card class="col" style="width:170px">
          <img src="https://cdn.quasar.dev/img/mountains.jpg" />
          <q-card-section class="q-py-xs">
            <div class="text-subtitle2 text-primary text-center">{{faculty.title}}</div>
          </q-card-section>
          <q-card-section class="q-py-xs">
            <div class="text-caption text-uppercase text-center">{{faculty.org}}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div class="q-gutter-sm">
      <q-btn class="q-my-sm" color="primary" label="Add Faculty" @click="open = true" />
      <q-btn flat class="bg-blue-1 q-my-sm" text-color="primary" label="Show more" />
    </div>

    <q-dialog v-model="open">
      <q-card>
        <q-card-section>
          <div class="text-h6">Add Faculty</div>
        </q-card-section>
        <q-card-section class="q-gutter-xs">
          <q-input type="file" outlined dense v-model="form.picture" label="Picture" />
          <q-input outlined dense v-model="form.title" label="Title" />
          <q-input outlined dense v-model="form.org" label="Organization" />
        </q-card-section>
        <q-card-actions>
          <q-btn label="save" color="primary" :loading="loading" @click="save()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      open: false,
      loading: false,
      faculties: null,
      form: {
        title: "",
        org: "",
        picture: ""
      }
    };
  },

  mounted() {
    this.getFaculty();
  },

  methods: {
    async save() {
      const endPoint = "/api/faculty";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      this.faculties.push(data.data);
      this.clear();
    },
    async getFaculty() {
      const endPoint = "/api/faculty";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.faculties = data.data;
    },
    clear() {
      this.form.title = "";
      this.form.org = "";
      this.form.picture = "";
    }
  }
};
</script>

<style>
</style>
