<template>
  <div class="q-gutter-xs flex flex-center">
    <div class="row q-gutter-sm flex-center">
      <div v-for="(program, index) in programs.slice(0,4)" :key="index">
        <q-card class="q-py-xs" style="width:170px">
          <q-card-section class="q-py-xs">
            <div class="text-subtitle2 text-primary text-center">{{program.title}}</div>
          </q-card-section>
          <q-card-section class="q-py-xs">
            <div class="text-caption text-uppercase text-center">{{program.org}}</div>
          </q-card-section>
          <q-card-section class="q-py-none">
            <div>{{program.description}}</div>
          </q-card-section>
        </q-card>
      </div>
    </div>
    <div class="q-gutter-sm">
      <q-btn class="q-my-sm" color="primary" label="Add Program" @click="open = true" />
      <q-btn flat class="bg-blue-1 q-my-sm" text-color="primary" label="Show more" />
    </div>

    <q-dialog v-model="open">
      <q-card>
        <q-card-section>
          <div class="text-h6">Add Program</div>
        </q-card-section>
        <q-card-section class="q-gutter-xs">
          <q-input outlined dense v-model="form.title" label="Title" />
          <q-input outlined dense v-model="form.org" label="Organization" />
          <q-input outlined dense v-model="form.description" label="description" />
        </q-card-section>
        <q-card-actions>
          <q-btn label="save" color="primary" :loading="loading" @click="save()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      open: false,
      loading: false,
      programs: null,
      form: {
        title: "",
        org: "",
        description: ""
      }
    };
  },

  mounted() {
    this.getProgram();
  },

  methods: {
    async save() {
      const endPoint = "/api/program";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      this.programs.push(data.data);
      this.clear();
    },
    async getProgram() {
      const endPoint = "/api/program";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.programs = data.data;
    },

    clear() {
      this.form.title = "";
      this.form.org = "";
      this.form.description = "";
    }
  }
};
</script>

<style>
</style>
