<template>
  <div >
    <q-scroll-area horizontal style="height: 190px; " class="bg-grey-3 q-py-sm " :thumb-style="thumbStyle" :content-style="contentStyle" :content-active-style="contentActiveStyle" >
      <div class="row q-gutter-sm no-wrap" >
        <div v-for="(item, index) in (programs || contents)" :key="index" >
          <q-card class="col" style="width:170px">
            <img src="https://cdn.quasar.dev/img/mountains.jpg">
            <q-card-section class="q-py-xs">
              <div class="text-subtitle2 text-primary text-center">{{item.header}}</div>
            </q-card-section>
            <q-card-section class="q-py-xs">
              <div class="text-caption text-uppercase text-center">{{item.sub_head}}</div>
            </q-card-section>

          </q-card>

        </div>
      </div>
    </q-scroll-area>

  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      contents: [
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
        {header: 'State Management', sub_head:'B.F.A', body: 'testest card test card test card test card test card test cardtest card test card test card test card '},
      ]
    }
  },

  mounted() {
    this.getProgram();
  },
  methods: {
    async getProgram() {
      const endPoint = "/api/program";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.programs = data.data;
    },
  },

  computed: {
    contentStyle () {
      return {
        backgroundColor: 'rgba(0,0,0,0.02)',
        color: '#555'
      }
    },

    contentActiveStyle () {
      return {
        backgroundColor: '#eee',
        color: 'black'
      }
    },

    thumbStyle () {
      return {
        right: '2px',
        borderRadius: '5px',
        backgroundColor: '#027be3',
        width: '5px',
        opacity: 0.75
      }
    }
  }
}
</script>

<style></style>
