<template>
  <div class="full-width">
    <q-btn
      class="q-my-sm"
      no-caps
      size="sm"
      color="primary"
      label="Add"
      icon="add"
      @click="open = true"
    />

    <q-scroll-area
      horizontal
      style="height: 190px; "
      class="bg-grey-3 q-py-sm q-pl-sm"
      :thumb-style="thumbStyle"
      :content-style="contentStyle"
      :content-active-style="contentActiveStyle"
    >
      <div class="row q-gutter-sm no-wrap">
        <div v-for="(faculty, index) in faculties" :key="index">
          <q-card class="col" style="width:170px">
            <img src="statics/img/profilePic.jpg" />
            <q-card-section class="q-py-xs">
              <div class="text-subtitle2 text-primary text-center">{{faculty.title}}</div>
            </q-card-section>
            <q-card-section class="q-py-xs">
              <div class="text-caption text-uppercase text-center">{{faculty.org}}</div>
            </q-card-section>
          </q-card>
        </div>
      </div>
    </q-scroll-area>

    <q-dialog v-model="open">
      <q-card>
        <q-card-section>
          <div class="text-h6">Add Faculty</div>
        </q-card-section>
        <q-card-section class="q-gutter-xs">
          <q-input type="file" outlined dense v-model="form.picture" label="Picture" />
          <q-input outlined dense v-model="form.title" label="Title" />
          <q-input outlined dense v-model="form.org" label="Organization" />
        </q-card-section>
        <q-card-actions>
          <q-btn label="save" color="primary" :loading="loading" @click="save()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      open: false,
      loading: false,
      faculties: null,
      form: {
        title: "",
        org: "",
        picture: ""
      }
    };
  },

  mounted() {
    this.getFaculty();
  },

  methods: {
    async save() {
      const endPoint = "/api/faculty";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      this.faculties.push(data.data);
      this.clear();
      this.open = false;
    },
    async getFaculty() {
      const endPoint = "/api/faculty";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.faculties = data.data;
    },
    clear() {
      this.form.title = "";
      this.form.org = "";
      this.form.picture = "";
    }
  },

  computed: {
    contentStyle() {
      return {
        backgroundColor: "rgba(0,0,0,0.02)",
        color: "#555"
      };
    },

    contentActiveStyle() {
      return {
        backgroundColor: "#eee",
        color: "black"
      };
    },

    thumbStyle() {
      return {
        right: "2px",
        borderRadius: "5px",
        backgroundColor: "#027be3",
        width: "5px",
        opacity: 0.75
      };
    }
  }
};
</script>

<style></style>
