<template>
  <div>
    <q-dialog v-model="open" seamless position="right">
      <q-card>
        <q-card-section class="row">
          <div class="text-h6">{{info.name}}</div>
          <q-space />
          <q-btn flat size="sm" round icon="close" @click="$emit('close', false)" v-close-popup />
        </q-card-section>
        <q-card-section v-if="info.name != 'Theater Social Media'" class="q-gutter-xs">
          <q-input outlined dense v-model="form.title" label="Title" />
          <q-input outlined dense v-model="form.org" label="Organization" />
          <q-input outlined dense v-model="form.description" label="description" />
          <q-uploader
            v-if="info.name != 'Programs'"
            url="http://localhost:4444/upload"
            color="primary"
            accept=".jpg, image/*"
            flat
            bordered
            style="max-width: 300px"
          />
        </q-card-section>
        <q-card-section v-if="info.name == 'Theater Social Media'" class="q-gutter-xs">
          <div class="row q-gutter-sm">
            <q-input outlined dense v-model="form.title" label="Instagram" />
            <q-btn color="primary" icon="check" @click="onClick" />
          </div>
          <div class="row q-gutter-sm">
            <q-input outlined dense v-model="form.org" label="twitter" />
            <q-btn color="primary" icon="check" @click="onClick" />
          </div>
          <div class="row q-gutter-sm">
            <q-input outlined dense v-model="form.description" label="linkedIn" />
            <q-btn color="primary" icon="check" @click="onClick" />
          </div>
          <div class="row q-gutter-sm">
            <q-input outlined dense v-model="form.description" label="facebook" />
            <q-btn color="primary" icon="check" @click="onClick" />
          </div>
          <div class="row q-gutter-sm">
            <q-input outlined dense v-model="form.description" label="reddit" />
            <q-btn color="primary" icon="check" @click="onClick" />
          </div>
        </q-card-section>
        <q-card-actions align="right">
          <q-btn label="save" color="primary" @click="$emit('save', form)" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ["open", "info"],
  data() {
    return {
      // open: false,
      form: {
        title: "",
        org: "",
        description: ""
      }
    };
  },

  methods: {
    async save() {
      const endPoint = "/api/program";
      const res = await this.postRequest(endPoint, this.form);
      const data = res.data;
      this.programs.push(data.data);
      this.clear();
    },
    async getProgram() {
      const endPoint = "/api/program";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.programs = data.data;
    },

    clear() {
      this.form.title = "";
      this.form.org = "";
      this.form.description = "";
    }
  }
};
</script>

<style>
</style>
