<template>
  <div>
    <div>
      <feedHeader />
      <Minimized />
    </div>
  </div>
</template>

<script>
import Minimized from "components/feed/partials/contentMinimized";
import feedHeader from "components/feed/partials/header";
export default {
  // name: 'ComponentName',
  data() {
    return {};
  },

  components: {
    Minimized,
    feedHeader
  }
};
</script>

<style>
</style>
