<template>
  <div>
    <q-btn flat dense icon="notifications" color="white" text-color="grey">
      <q-badge color="red" floating>{{ notifications ? notifications.length : 0 }}</q-badge>
      <q-popup-proxy>
        <q-card class="my-card">
          <q-card-section>
            <div class="text-primary text-h6 q-pb-lg">
              Notifications
              <q-separator />
              <q-separator />
            </div>
            
            <q-list v-for="(notification, index) in notifications" :key="index">
              <q-item clickable v-ripple class="bg-blue-1">
                <q-item-section>
                  <q-item-label>{{ notification.data.body }}</q-item-label>
                  <q-item-label caption>{{ notification.created_at }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-icon
                    v-if="notification.read_at"
                    :class="notification.read_at ? 'text-primary' : 'text-grey'"
                    :name="notification.read_at ? 'ion-ios-checkmark-circle' : 'ion-ios-checkmark-circle-outline'"
                  />
                </q-item-section>
              </q-item>
              <q-separator color="primary" />
            </q-list>
            <q-separator color="primary" />
            <!-- <div class="row justify-center">
              <q-btn
                no-caps
                flat
                class="text-primary text-bold q-pt-lg"
                :to="{name: 'notification'}"
              >See All</q-btn>
            </div> -->
          </q-card-section>
        </q-card>
      </q-popup-proxy>
    </q-btn>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {};
  },

  computed: {
    notifications() {
      return this.$store.getters["auth/notifications"];
    }
  }
};
</script>

<style>
</style>
