<template>
  <div>
    <!-- <q-btn label="Alert" color="primary" @click="alert = true" /> -->

    <q-card class="my-card">
      <img
        v-if="post.media"
        :src="file_location+'/storage/post-files/'+post.id+'/'+post.media.file"
        style="max-height: 300px"
        @click="alert = true"
      />
      <q-card-section>
        <q-item class="q-px-none">
          <q-item-section top avatar class="q-pr-xs">
            <avatar
              :size="'40px'"
              :src="post.user.avatar"
              :name="post.user.firstname +' '+ post.user.lastname"
              :user_id="post.user.id"
              :b_size="'xs'"
              :b_style="'position: absolute; right: 0; bottom: 0;'"
              :badge="post.user.badge"
            />
          </q-item-section>
          <q-item-section class="q-px-none">
            <q-item-label
              lines="1"
              class="text-bold"
            >{{ post.user.firstname }} {{ post.user.lastname }}</q-item-label>
            <q-item-label caption lines="1">Secondary line text.</q-item-label>
          </q-item-section>
          <q-item-section side>
            <q-item-label caption>
              <q-icon name="far fa-clock" color="grey" />
              {{ post.ReadableDate }}
            </q-item-label>
          </q-item-section>
          <q-item-section side class="text-grey">
            <q-btn-dropdown
              size="sm"
              dense
              dropdown-icon="fas fa-ellipsis-v"
              text-color="grey"
              flat
            >
              <q-list>
                <q-item v-if="owned_count" clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label>Edit</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item v-if="owned_count" clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label>Delete</q-item-label>
                  </q-item-section>
                </q-item>

                <q-item v-if="!owned_count" clickable v-close-popup @click="onItemClick">
                  <q-item-section>
                    <q-item-label>Flag</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
          </q-item-section>
        </q-item>
      </q-card-section>
      <q-card-section>
        <div class="text-subtitle2 text-primary" @click="alert = true">{{ post.title }}</div>
        <div class="text-body-2" @click="alert = true">{{ post.title }}</div>
      </q-card-section>
      <q-card-section class="row">
        <like :id="post.id" :type="'post'" :liked="post.liked_count" :likes="post.likes_count" />
        <q-btn
          flat
          dense
          size="sm"
          icon-right="comment"
          :label="post.comments_count"
          :color="post.comments_count ? 'primary' : ''"
        />
        <q-btn flat no-caps size="sm" icon="ion-share-alt" />
      </q-card-section>
    </q-card>

    <!-- dialogue -->
    <q-dialog v-model="alert" full-height >
      <q-card class="row no-padding" style="min-width: 300px; max-width: 80vw;">
        <q-card class="col-md-7">
          <q-card-section>
            <img
              v-if="post.media"
              :src="file_location+'/storage/post-files/'+post.id+'/'+post.media.file"
              style="max-height: 300px"
            />
          </q-card-section>
          <q-card-section>
            <q-item class="q-px-none">
              <q-item-section top avatar class="q-pr-xs">
                <avatar
                  :size="'40px'"
                  :src="post.user.avatar"
                  :name="post.user.firstname +' '+ post.user.lastname"
                  :user_id="post.user.id"
                />
              </q-item-section>
              <q-item-section class="q-px-none">
                <q-item-label
                  lines="1"
                  class="text-bold"
                >{{ post.user.firstname }} {{ post.user.lastname }}</q-item-label>
                <q-item-label caption lines="1">Secondary line text.</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label caption>
                  <q-icon name="far fa-clock" color="grey" />
                  {{ post.ReadableDate }}
                </q-item-label>
              </q-item-section>
              <q-item-section side>
                <like
                  :id="post.id"
                  :type="'post'"
                  :liked="post.liked_count"
                  :likes="post.likes_count"
                />
              </q-item-section>
              <q-item-section side class="text-grey row">
                <q-btn
                  @click="showComment != showComment"
                  flat
                  dense
                  size="sm"
                  icon-right="comment"
                  :label="post.comments_count"
                  :color="post.comments_count ? 'primary' : ''"
                />
              </q-item-section>
              <q-item-section side>
                <q-btn flat no-caps size="sm" icon="ion-share-alt" />
              </q-item-section>
            </q-item>
          </q-card-section>

          <q-card-section>
            <div class="text-subtitle2 text-primary">{{ post.title }}</div>
            <div class="text-body-2">{{ post.title }}</div>
          </q-card-section>
        </q-card>

        <!-- <q-separator vertical /> -->

        <q-card class="col-md-5" style="border-left: solid grey 1px">

          <div class="text-h6 q-pa-md">Comments</div>
          <q-card-section v-for="(user, index) in form.user" :key="index">
            <!-- <comment :post="post" /> -->
            <q-item class="q-px-none">
              <q-item-section top avatar class="q-px-none">
                <avatar
                  :size="'40px'"
                  :src="post.user.avatar"
                  :name="post.user.firstname +' '+ post.user.lastname"
                  :user_id="post.user.id"
                />
              </q-item-section>
              <q-item-section top class="text-left q-py-none" style="margin-left: -5px">
                <q-item-section class="text-left q-pt-none" style="margin-left: -5px">
                  <q-card class="q-my-xs q-pa-sm text-grey-8">
                    <q-item-label>
                      <span class="text-bold text-primary">{{user.name}}</span>
                      {{user.pstContent}}
                    </q-item-label>
                  </q-card>
                  <q-item class="q-py-none">
                    <q-item-section side>
                      <div
                        class="text-black"
                        style="font-size:8px"
                      >{{form.published_at}} @ {{form.published_time}}</div>
                    </q-item-section>
                    <q-item-section>
                      <q-space />
                    </q-item-section>
                    <q-item-section side>
                      <q-btn
                        no-caps
                        flat
                        size="sm"
                        text-color="red"
                        icon="ion-trash"
                      />
                    </q-item-section>
                  </q-item>
                </q-item-section>
              </q-item-section>
            </q-item>
          </q-card-section>
          <q-card-section class="absolute-bottom" >
            <div class="row q-gutter-sm full-width">
              <avatar
                :size="'40px'"
                :src="post.user.avatar"
                :name="post.user.firstname +' '+ post.user.lastname"
                :user_id="post.user.id"
              />
              <q-input outlined dense v-model="form.title" label="Add your Comment" />
              <q-btn size="sm" color="primary"  icon="ion-ios-send" @click="onClick" />
            </div>
          </q-card-section>
        </q-card>

      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import like from "components/common/like";
import avatar from "components/common/avatar";
import comment from "components/common/comment";
export default {
  // name: 'ComponentName',
  props: ["post"],
  components: {
    like,
    avatar,
    comment
  },
  data() {
    return {
      file_location: process.env.Api,
      alert: false,
      address: "",
      showComment: false,
      form: {
        showComment: false,
        user: [
          {
            name: "john Doe",
            pstContent:
              "Salaries estimated if unavailable. When a job posting doesnt include a salary, we estimate it by looking at similar jobs. "
          },
          {
            name: "john Doe",
            pstContent:
              "Salaries estimated if unavailable. When a job posting doesnt include a salary, we estimate it by looking at similar jobs. EMAIL"
          }
        ],
        pstContent: [],

        published_at:
          new Date().getFullYear() +
          "/" +
          new Date().getMonth() +
          "/" +
          new Date().getDate(),
        published_time:
          " " + new Date().getHours() + ":" + new Date().getMinutes()
      }
    };
  },

  methods: {
    postFunx(e) {
      if (e.keyCode === 13) {
        this.form.pstContent.push(this.form.content);
        this.form.showComment = true;
        this.form.content = "";
      }
    },
    postFunx2(e) {
      if (e.keyCode === 13) {
        this.form.pstContent2.push(this.form.content2);
        this.form.showReplyComment = true;
        this.form.content = "";
      }
    },

    replyer() {
      this.icon[2] = "primary";
      console.log(icon[2]);
    }
  }
};
</script>

<style>
</style>
