<template>
  <q-avatar
    :size="size ? size :'50px'"
    :style="'background:'+getRandomColor()"
    :text-color="src == 'default.png' ? 'white' : ''"
    class="relative"
  >
    <div v-if="src == 'default.png'">{{ noAvatar(name) }}</div>
    <img v-else :src="s3+'/profile/'+user_id+'/'+src" />
    <!-- <q-rating v-if="badge" :size="b_size" max="1" v-model="ratingModel" icon="stars" color="primary" class :style="b_style" /> -->
    <badges :data="badger" />
  </q-avatar>
  <!-- style="position: absolute; right: 0; bottom: 0; margin-bottom: 14px"  -->
</template>

<script>
import badges from './badge'
export default {
  // name: 'ComponentName',
  props: ["size", "src", "name", "user_id", "badger"],
  components:{
    badges,
  },
  data() {
    return {

      color: "",
      s3: process.env.s3,
      ratingModel: 1
    };
  },
  methods: {
    noAvatar(item) {
      var johntest = item.split(" ");
      var element = "";
      for (var i = 0; i < johntest.length; i++) {
        element += johntest[i].charAt(0);
      }
      return element.slice(0, 2).toUpperCase();
    },

    getRandomColor() {
      var letters = "0123456789ABCDEF";
      var color = "#";
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }
  }
};
</script>
