<template>
  <div class="row q-gutter-lg absolute-bottom-left">
    <div v-for="(item, index) in data" :key="index" >
        <q-rating no-reset v-if="item.badge == 'badge'" :size="item.b_size" max="1" v-model="ratingModel" icon="stars" color="primary"  :style="item.b_style" />
        <q-rating v-if="item.badge == 'star'" :size="item.b_size" max="1" v-model="ratingModel2" icon="ion-ios-bonfire" color="green"  :style="item.b_style" />
        <q-rating no-reset v-if="item.badge == 'idea'" :size="item.b_size" max="1" v-model="ratingModel3" icon="ion-ios-bulb" color="orange"  :style="item.b_style" />
        <q-rating no-reset v-if="item.badge == 'speed'" :size="item.b_size" max="1" v-model="ratingModel4" icon="ion-ios-flash" color="indigo"  :style="item.b_style" />
        <q-rating no-reset v-if="item.badge == 'likes'" :size="item.b_size" max="1" v-model="ratingModel5" icon="ion-ios-heart" color="red"  :style="item.b_style" />
        <q-tooltip v-if="item.badge == 'badge'">Verified</q-tooltip>
        <q-tooltip v-if="item.badge == 'star'">Influencer</q-tooltip>
        <q-tooltip v-if="item.badge == 'idea'">Idealist</q-tooltip>
        <q-tooltip v-if="item.badge == 'speed'">Speed</q-tooltip>
        <q-tooltip v-if="item.badge == 'likes'">Likable</q-tooltip>
    </div>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  props: ['data'],
  data () {
    return {
      ratingModel: 1,
      ratingModel2: 1,
      ratingModel3: 1,
      ratingModel4: 1,
      ratingModel5  : 1,
    }
  }
}
</script>

<style>
</style>
