
<template>
  <div>
    <q-btn color="primary" size="sm" label="Edit" @click="open = !open" />

    <q-dialog v-model="open">
      <q-card>
        <q-bar>
          <div class="cursor-pointer">Edit Profile</div>
          <q-space />
          <q-btn dense flat icon="close" />
        </q-bar>

        <q-card-section>
          <!-- <div class="text-h6">Alert</div> -->
        </q-card-section>
        <q-card-section class="row q-gutter-sm">
          <q-input
            dense
            borderless
            filled
            v-model="form.firstname"
            label="First Name"
            class="col-xs-12 col-sm-5"
          />
          <q-input
            dense
            borderless
            filled
            v-model="form.lastname"
            label="Last Name"
            class="col-xs-12 col-sm-5"
          />
          <q-input
            dense
            borderless
            filled
            v-model="form.phone"
            label="Phone Number"
            class="col-xs-12 col-sm-12"
          />
          <q-input
            type="textarea"
            rows="2"
            borderless
            filled
            v-model="form.about"
            label="About"
            class="col-xs-12 col-sm-12"
          />
          <q-input dense borderless filled v-model="form.website" label="Website" class="col-12" />
          <q-input dense borderless filled v-model="form.location" label="Location" class="col-12" />
          <q-input
            dense
            borderless
            filled
            v-model="form.facebook"
            label="Facebook Link"
            class="col-12"
          />
          <q-input
            dense
            borderless
            filled
            v-model="form.instagram"
            label="Instagram"
            class="col-12"
          />
          <q-input dense borderless filled v-model="form.twitter" label="Twitter" class="col-12" />
        </q-card-section>
        <q-card-actions>
          <q-btn label="Update Profile" color="primary" v-close-popup @click="update()" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  mixins: [requestMixin],
  props: ["user"],
  data() {
    return {
      open: false,
      form: {
        firstname: this.user.firstname,
        lastname: this.user.lastname,
        phone: this.user.phone,
        about: this.user.about,
        website: this.user.website,
        location: this.user.location,
        facebook: this.user.facebook,
        instagram: this.user.instagram,
        twitter: this.user.twitter
      }
    };
  },

  methods: {
    async update() {
      const endPoint = "/api/users/0";
      const data = await this.updateRequest(endPoint, this.form);
      const res = data.data;
    }
  }
};
</script>
