<template>
  <q-btn
    flat
    dense
    no-caps
    color="red"
    @click="like()"
    size="sm"
    :icon-right="toggle ? 'favorite' : 'favorite_border'"
    :label="likes"
  />
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
export default {
  props: ["id", "type", "liked", "likes"],
  mixins: [requestMixin],
  // name: 'ComponentName',
  data() {
    return {
      toggle: this.liked
    };
  },

  methods: {
    async like() {
      this.toggle ? (this.toggle = false) : (this.toggle = true);
      this.toggle ? (this.likes += 1) : (this.likes -= 1);

      try {
        const endPoint = "/api/like";
        const data = await this.postRequest(endPoint, {
          id: this.id,
          type: this.type
        });
        const res = data.data;
      } catch (error) {}
    }
  }
};
</script>
