<template>
  <div class="q-gutter-y-sm">
    <q-card class="my-card" v-for="post in posts" :key="post.id">
      <articleExpand :post="post" />
    </q-card>
  </div>
</template>

<script>
import like from "components/common/like";
import avatar from "components/common/avatar";
import articleExpand from "components/common/articleExpand";
export default {
  // name: 'ComponentName',
  props: ["posts"],
  data() {
    return {
      ratingModel1: 0
    };
  },
  components: {
    like,
    avatar, articleExpand 
  }
};
</script>
