<template>
  <q-card class="my-card">
    <q-card-section class="q-px-sm">
      <q-item class="q-px-none">
        <q-item-section top avatar class="q-pr-xs">
          <avatar
            :size="'40px'"
            :src="post.user.avatar"
            :name="post.user.firstname +' '+ post.user.lastname"
            :user_id="post.user.id"
            :b_size="'xs'"
            :b_style="'position: absolute; right: 0; bottom: 0;'"
            :badge="post.user.badge"
          />
        </q-item-section>
        <q-item-section class="q-px-none">
          <q-item-label
            lines="1"
            class="text-bold"
          >{{ post.user.firstname }} {{ post.user.lastname }}</q-item-label>
          <q-item-label caption lines="1">Secondary line text.</q-item-label>
        </q-item-section>
        <q-item-section side>
          <q-item-label caption>
            <q-icon name="far fa-clock" color="grey" />
            {{ post.ReadableDate }}
          </q-item-label>
        </q-item-section>
      </q-item>
    </q-card-section>
    <q-card-section class="q-px-sm">
      <q-card flat>
        <img src="https://cdn.quasar.dev/img/mountains.jpg" />
        <q-card-section class="q-pa-none">
          <q-item class="q-px-sm">
            <q-item-section>
              <q-item-label top class="text-primary text-subtitle2">
                <div>{{ post.title }}</div>
              </q-item-label>
            </q-item-section>
            <q-item-section side class="text-grey">
              <q-btn-dropdown
                size="sm"
                dense
                dropdown-icon="fas fa-ellipsis-v"
                text-color="grey"
                flat
              >
                <q-list>
                  <q-item v-if="owned_count" clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                      <q-item-label>Edit</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item v-if="owned_count" clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                      <q-item-label>Delete</q-item-label>
                    </q-item-section>
                  </q-item>

                  <q-item v-if="!owned_count" clickable v-close-popup @click="onItemClick">
                    <q-item-section>
                      <q-item-label>Flag</q-item-label>
                    </q-item-section>
                  </q-item>
                </q-list>
              </q-btn-dropdown>
            </q-item-section>
          </q-item>
        </q-card-section>

        <!-- content -->
        <q-card-section class="q-pa-sm">
          <div>{{ post.body }}</div>
        </q-card-section>

        <!-- socials -->
        <q-card-section class="q-px-xs row flex-center text-center">
          <div class="col-4 flex-center">
            <like :id="post.id" :type="'post'" :liked="post.liked_count" :likes="post.likes_count" />
          </div>
          <div class="col-4 text-grey">
            <q-btn
              flat
              dense
              size="sm"
              icon-right="comment"
              :label="post.comments_count"
              :color="post.comments_count ? 'primary' : ''"
            />
          </div>
          <div class="col-4 text-grey">
            <q-btn flat no-caps size="sm" icon="ion-share-alt" />
          </div>
        </q-card-section>
      </q-card>
    </q-card-section>
  </q-card>
</template>

<script>
import like from "components/common/like";
import avatar from "components/common/avatar";
export default {
  // name: 'ComponentName',
  props: ["post"],
  data() {
    return {};
  },
  components: {
    like,
    avatar
  },
  methods: {
    onItemClick() {
      // console.log('Clicked on an Item')
    }
  }
};
</script>

<style>
</style>
