<template>
  <div>
    <q-card square style="width: 100%">
      <q-card-section class="q-pa-none">
        <q-item-label header>Follow Suggestion</q-item-label>
      </q-card-section>
      <q-card-section class="q-px-none">
        <q-list>
          <q-item class="q-px-sm" v-for="sugest in sugests" :key="sugest.id">
            <q-item-section top avatar class="q-pr-xs">
              <avatar
                :size="'40px'"
                :name="sugest.firstname +' '+sugest.lastname"
                :src="sugest.avatar"
                :b_size="'xs'"
                :b_style="'position: absolute; right: 0; bottom: 0;'"
                :badge="sugest.badge"
              />
            </q-item-section>

            <q-item-section class="q-px-none">
              <q-item-label
                lines="1"
                class="text-primary text-bold"
              >{{ sugest.firstname }} {{ sugest.lastname }}</q-item-label>
              <q-item-label caption lines="1">Secondary line text.</q-item-label>
            </q-item-section>
            <q-item-section side>
              <follow :id="sugest.id" :followed="sugest.followed_count" :size="'sm'" />
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
import { requestMixin } from "components/mixins/ajaxMixins";
import avatar from "components/common/avatar";
import follow from "components/common/follow";
export default {
  // name: 'ComponentName',
  mixins: [requestMixin],
  data() {
    return {
      sugests: null
    };
  },

  components: {
    avatar,
    follow
  },

  mounted() {
    this.getSugest();
  },

  methods: {
    async getSugest() {
      const endPoint = "/api/user/sugest";
      const res = await this.getRequest(endPoint);
      const data = res.data;
      this.sugests = data.data.splice(0, 5);
    }
  }
};
</script>
