<template>
  <div>
    <q-card square style="width: 100%">
      <q-card-section class="q-pa-none">
        <q-item-label header>Trending</q-item-label>
      </q-card-section>
      <q-card-section class="q-px-none">
        <q-list>
          <div v-for="post in posts.splice(0, 5)" :key="post.id">
            <q-item class="q-px-sm" clickable tag="a">
              <q-item-section class="q-px-none">
                <q-item-label lines="1" class="text-primary text-bold">{{ post.title }}</q-item-label>
                <q-item-label caption lines="1">{{ post.body }}</q-item-label>
              </q-item-section>
            </q-item>
          </div>
        </q-list>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {};
  },

  computed: {
    posts() {
      return [...this.$store.getters["post/posts"]];
    }
  }
};
</script>
