<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
import { LocalStorage } from "quasar";
export default {
  name: "App",
  preFetch({ store, router }) {
    if (LocalStorage.getItem("bwc-token")) {
      store
        .dispatch("auth/user")
        .then(res => {
          // $router.push('home');
        })
        .catch(err => {
          //  store.commit('auth/logout');
        });
      store.dispatch("post/posts");
      store.dispatch("auth/notifications");
      store.dispatch("company/company");
      store.dispatch("university/university");
      store.dispatch("production/production");
      store.dispatch("theater/theater");
    }
  }
};
</script>

<style>
</style>
