<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-white">
        <q-btn
          flat
          dense
          round
          @click="leftDrawerOpen = !leftDrawerOpen"
          icon="menu"
          aria-label="Menu"
          class="lt-md text-primary"
        />

        <q-toolbar-title>
          <q-btn :to="{name: 'index'}" flat>
            <img src="statics/logo-dark.png" style="width: 200px" />
          </q-btn>
        </q-toolbar-title>

        <q-input
          borderless
          v-model="text"
          label="Type here to search by show, event or persons name..."
          input-style="color: black; width: 370px"
          input-class="text-left text-black"
          class="q-ml-md gt-sm"
        >
          <template v-slot:append>
            <q-icon color="primary" v-if="text === ''" name="search" />
            <q-icon v-else name="clear" class="cursor-pointer" @click="text = ''" />
          </template>
        </q-input>

        <q-space />

        <div class="row q-gutter-md no-wrap">
          <q-btn flat dense icon="email" color="white" text-color="grey" />

          <Notification />

          <q-btn-dropdown no-caps size="sm" flat color="white" label="Account" class="bg-primary">
            <q-list dense>
              <q-item clickable v-close-popup :to="{name: 'changePassword'}">
                <q-item-section>
                  <q-item-label>Change Password</q-item-label>
                </q-item-section>
              </q-item>
              <q-item clickable @click="logout()" v-close-popup>
                <q-item-section>
                  <q-item-label>Logout</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
        </div>
      </q-toolbar>

      <lowerToolbar />
    </q-header>

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="text-grey-7"
      :width="180"
      content-style="background-color: #212d41"
    >
      <q-list>
        <q-item-label header class style="height: 150px">
          <div class="absolute-top" style="height: 150px; background-color: #18253b">
            <div class="column flex-center q-pb-lg q-pt-sm text-center">
              <avatar
                :size="'76px'"
                :src="user.avatar"
                :name="user.firstname +' '+ user.lastname"
                :user_id="user.id"
                :b_size="'md'"
                :b_style="'position: absolute; right: 0; bottom: 0;'"
                :badge="user.badge"
                :badger="badger"
              />
              <div class="text-weight-bold q-pt-md">{{ user.firstname }} {{ user.lastname }}</div>
              <q-btn
                no-caps
                flat
                text-color="primary"
                label="My Profile"
                class="no-padding"
                :to="{name: 'profile', params:{'slug': user.slug}}"
              />
            </div>
          </div>
        </q-item-label>

        <q-item
          clickable
          class="text-h6"
          @click="active = !active"
          :active="acive"
          active-class="text-primary"
          :to="{name: 'list'}"
        >
          <q-item-section class="col-2">
            <q-icon name="rss_feed" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Feed</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="text-h6" :class="txt" clickable @click="open = true">
          <q-item-section class="col-2">
            <q-icon name="fa fa-calendar-alt" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Calender</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="text-h6" :class="txt" clickable :to="{name: 'my-favourite'}">
          <q-item-section class="col-2">
            <q-icon name="ion-heart-empty" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">My Favorites</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="text-h6" :class="txt" clickable :to="{name: 'discover'}">
          <q-item-section class="col-2">
            <q-icon name="ion-ios-compass" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Discover</q-item-label>
          </q-item-section>
        </q-item>
        <q-item class="text-h6" :class="txt" clickable :to="{name: 'QoftheDay'}">
          <q-item-section class="col-2">
            <q-icon name="ion-ios-help" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Question of the Day</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="text-h6" :class="txt" clickable @click="open = true">
          <q-item-section class="col-2">
            <q-icon name="ion-clipboard" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Broadway Report</q-item-label>
          </q-item-section>
        </q-item>

        <q-item
          v-if="user.is_production"
          class="text-h6"
          :class="txt"
          @click="activate()"
          clickable
          :to="{name: 'company'}"
        >
          <q-item-section class="col-2">
            <q-icon name="ion-ios-business" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Company</q-item-label>
          </q-item-section>
        </q-item>

        <q-item
          v-if="user.is_company"
          class="text-h6"
          :class="txt"
          clickable
          :to="{name: 'production'}"
        >
          <q-item-section class="col-2">
            <q-icon name="ion-ios-hourglass" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Production</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-if="user.is_theatre"
          class="text-h6"
          :class="txt"
          @click="activate()"
          clickable
          :to="{name: 'theater'}"
        >
          <q-item-section class="col-2">
            <q-icon name="ion-briefcase" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Theater</q-item-label>
          </q-item-section>
        </q-item>
        <q-item
          v-if="user.is_university"
          class="text-h6"
          :class="txt"
          @click="activate()"
          clickable
          :to="{name: 'university'}"
        >
          <q-item-section class="col-2">
            <q-icon name="ion-ios-medal" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">University</q-item-label>
          </q-item-section>
        </q-item>

        <q-item class="text-h6" :class="txt" clickable :to="{name: 'faq'}">
          <q-item-section class="col-2">
            <q-icon name="ion-information-circle-outline" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">FAQ & Contact Us</q-item-label>
          </q-item-section>
        </q-item>
        <!-- <q-item class="text-h6" @click="active = !active" :active="acive" active-class="text-primary" clickable :to="{name: 'grid'}">
          <q-item-section class="col-2">
            <q-icon name="ion-compass" />
          </q-item-section>
          <q-item-section>
            <q-item-label class="text-caption">Explore</q-item-label>
          </q-item-section>
        </q-item>-->
      </q-list>
    </q-drawer>

    <q-page-container style="width: 100%">
      <slot name="LayoutContent"></slot>
      <!-- <router-view /> -->
      <q-dialog v-model="open">
        <q-card style="min-width: 300px">
          <q-card-section class="text-center">Coming Soon</q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Ok" color="primary" v-close-popup :to="{name: 'list'}" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-page-container>
  </q-layout>
</template>

<script>
import Notification from "components/notification/partials/popUp";
import avatar from "components/common/avatar";
import lowerToolbar from "./lowerToolbar";
export default {
  name: "MyLayout",
  components: {
    Notification,
    avatar,
    lowerToolbar
  },
  data() {
    return {
      badger: [
        {
          b_size: "xs",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 15px; margin-bottom: 17px ",
          badge: "badge"
        },
        {
          b_size: "xs",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 30px; margin-bottom: -5px ",
          badge: "star"
        },
        {
          b_size: "xs",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 50px; margin-bottom: -10px ",
          badge: "idea"
        },
        {
          b_size: "xs",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 72px; margin-bottom: -5px ",
          badge: "speed"
        },
        {
          b_size: "xs",
          b_style:
            "position: absolute; left: 0; bottom: 0; margin-left: 90px; margin-bottom: 17px ",
          badge: "likes"
        }
      ],
      open: false,
      active: false,
      text: "",
      leftDrawerOpen: false,
      txt: "text-grey"
    };
  },

  computed: {
    activate() {
      this.active = !this.active;
    },
    user() {
      return this.$store.getters["auth/user"];
    }
  },

  methods: {
    logout() {
      this.$store.commit("auth/logout");
      this.$router.push("/");
    }
  }
};
</script>
