<template>
  <div>
    <q-scroll-observer @scroll="onScroll" />
    <q-toolbar class="bg-white flex flex-center q-px-xl" v-if="scrollInfo > 220">
      <q-item>
        <q-item-section top avatar>
          <!-- <q-avatar color="primary" text-color="white" icon="bluetooth" /> -->
          <avatar
            :size="'50px'"
            :name="user.firstname +' '+user.lastname"
            :src="user.avatar"
            :b_size="'xs'"
            :b_style="'position: absolute; right: 0; bottom: 0; margin-bottom: -5px'"
            :badge="user.badge"
            :badger="badger"
          />
        </q-item-section>
        <q-item-section>
          <q-item-label class="text-primary text-bold">{{ user.firstname +' '+ user.lastname }}</q-item-label>
          <q-item-label caption lines="2">@{{ user.firstname }}{{ user.lastname }}</q-item-label>
        </q-item-section>
      </q-item>

      <q-space />

      <q-tabs
        v-model="tab"
        narrow-indicator
        active-color="primary"
        class="text-grey"
      >
        <q-tab disable class="q-px-xl" no-caps name="followers" :label="'Followers'">{{follower}}</q-tab>
        <q-tab disable class="q-px-xl" no-caps name="following" :label="'Following'">{{following}}</q-tab>
      </q-tabs>
    </q-toolbar>
  </div>
</template>
<script>
import avatar from "components/common/avatar";
export default {
  components: {
    avatar,
  },
  data() {
    return {
      badger:[
        {
          b_size: 'xs',
          b_style: 'position: absolute; left: 0; bottom: 0; margin-left: 15px; margin-bottom: 17px ',
          badge: 'badge'
        },
        {
          b_size: 'xs',
          b_style: 'position: absolute; left: 0; bottom: 0; margin-left: 20px; margin-bottom: 0px ',
          badge: 'star',
        },
        {
          b_size: 'xs',
          b_style: 'position: absolute; left: 0; bottom: 0; margin-left: 37px; margin-bottom: -10px ',
          badge: 'idea',
        },
        {
          b_size: 'xs',
          b_style: 'position: absolute; left: 0; bottom: 0; margin-left: 55px; margin-bottom: -2px ',
          badge: 'speed',
        },
        {
          b_size: 'xs',
          b_style: 'position: absolute; left: 0; bottom: 0; margin-left: 65px; margin-bottom: 15px ',
          badge: 'likes',
        }
      ],
      scrollInfo: null,
      follower: "1,802",
      following: "962"
    };
  },

  methods: {
    onScroll(info) {
      this.scrollInfo = info.position;
    }
  },

  computed: {
    user() {
      return this.$store.getters["auth/user"];
    }
  }
};
</script>
