<template>
  <q-layout view="lHh Lpr lFf">
    <q-header reveal class="transparent">

      <q-toolbar v-if="$route.name == 'home'" class="transparent" style="margin-buttom: -50px">

        <q-toolbar-title class="col-auto">
          <q-img src="statics/logo-dark.png" style="width: 200px"/>
        </q-toolbar-title>

        <!-- <div class="col">
          <q-input outlined dense label="type here to search by event, show, person's name" stack-label="" class="full-width"/>
        </div> -->


        <div class="col-auto q-gutter-md">
            <q-btn color="primary" flat dense icon="message" />
            sasas
            <q-btn color="primary" flat dense icon="notifications" :to="{name: 'notification'}" >

            </q-btn>

            <q-btn color="primary" flat dense round @click="leftDrawerOpen = !leftDrawerOpen" aria-label="Menu" >
              <q-icon name="menu" />
            </q-btn>
        </div>


        </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" overlay behavior="mobile">
      <q-list dark="" class="text-h6 text-weight-light">
        <q-item-label header>Menu</q-item-label>
        <q-item clickable tag="a" :to="{name: 'index'}">
          <q-item-section>
            <q-item-label>Home</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <!-- <div class="bg-grey-9 text-center q-pa-xl">

        <div class="text-h5 text-white text-weight-light">Agrolog Limited 2019</div>
        <div class="text-weight-thin text-grey-1"> Copyright (C) 2000</div>
        <div>
          <a href="https://agrolog.farm:2096" target="_blank">Email</a>
        </div>
    </div> -->


  </q-layout>
</template>

<script>
import { openURL } from 'quasar'

export default {
  name: 'MyLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
</style>
