<template>
  <div>
    <q-card flat class="q-py-md q-pl-md q-ml-md q-mr-md ">
      <q-input borderless filled dense input-class="text-italic q-pl-sm text-caption" placeholder="Search for people to invite"/>
      <div class="q-pt-sm">
        <div class="bg-none text-caption text-primary text-bold text-left">Suggested</div>
        <q-list v-for="(item, index) in contents" :key="index">
          <q-item clickable v-ripple class="q-px-none">
            <q-item-section avatar>
            <q-avatar size="36px" class="q-mb-sm">
                <img :src="item.src" style="border: solid 2px blue; border-radius: 50%">
              </q-avatar>
            </q-item-section>
            <q-item-section avatar class="text-caption text-primary text-bold text-left">{{item.name}}</q-item-section>
            <q-item-section>
              <q-item-label caption>@{{item.handle}}</q-item-label>
            </q-item-section>
            <q-item-section>
              <q-space />
            </q-item-section>
            <q-item-section side>
              <q-checkbox v-model="val" />  
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </q-card>
    
    
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      val: true,
      contents:[
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
      ]
    }
  }
}
</script>

<style>
</style>
