<template>
  <div>
    <q-card flat class="bg-grey-3 q-pa-md" style="min-width: 250px">
      <q-item-label class="text-left" caption>Suggested</q-item-label>
      <q-list v-for="(item, index) in contents" :key="index">
        
        <q-item clickable v-ripple class="q-px-none">
          <q-item-section avatar class="text-caption text-primary text-bold text-left q-pr-sm">{{item.name}}</q-item-section>
          <q-item-section>
            <q-item-label caption class="text-left">@{{item.handle}}</q-item-label>
          </q-item-section>
          <q-item-section side >
            <div class="text-caption">
              <q-icon name="fas fa-times" />
            </div>
          </q-item-section>
        </q-item>
        <q-separator color="primary"/>
      </q-list>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {
      val: true,
      contents:[
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
        {src:'https://cdn.quasar.dev/img/boy-avatar.png', handle:'JohnDoe', name:'John Doe'},
      ]
    }
  }
}
</script>

<style>
</style>
