<template>
  <div class="row flex-center">
    <q-card flat class="col-xs-none col-sm-4 col-md-6"></q-card>

    <q-card square flat class="col-xs-12 col-sm-8 col-md-6 absolute-right full-height q-gutter-md">
      <q-card-section class="text-right">
        <q-btn no-caps color="primary" rounded label="Sign Up" :to="{name: 'register'}" />
      </q-card-section>
      <q-card-section class="text-left">
        <div class="text-h4 text-primary text-weight-bolder">Broadway Connected</div>
        <div class="text-grey-5 text-h6">Theater: Anywhere, Anytime, for Anyone</div>
      </q-card-section>
      <q-card-section class="q-gutter-xs q-pb-none">
        <div>
          <ul v-if="Array.isArray(errors_list)">
            <li v-for="error in errors_list" :key="error.id" class="text-negative">{{ error }}</li>
          </ul>
          <ul v-else>
            <li v-if="errors_list" class="text-negative">{{ errors_list }}</li>
          </ul>
        </div>

        <div class="text-caption text-primary text-bold">EMAIL</div>
        <q-input
          borderless
          input-style="width: 60%"
          input-class="bg-blue-1 text-primary"
          v-model="form.email"
          dense
          label="Email"
          name="login-id"
          v-validate="'required'"
        />
        <div class="text-caption text-primary text-bold">PASSWORD</div>
        <q-input
          borderless
          input-style="width: 60%"
          input-class="bg-blue-1 text-primary"
          v-model="form.password"
          type="password"
          name="password"
          v-validate="'required'"
          dense
          label="Password"
        />
        <q-btn
          class="q-mt-md q-px-lg"
          color="primary"
          no-caps
          label="Login"
          @click="login"
          :loading="loading"
        >
          <template v-slot:loading>
            <q-spinner-facebook />Login in
          </template>
        </q-btn>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <div class="col-12 row q-my-lg">
          <q-separator class="col-12 q-mr-lg" style="max-width: 50px;" />
          <q-separator class="col-12 q-ml-sm" style="max-width: 150px;" />
        </div>
        <div
          class="text-grey-5 text-caption text-weight-light"
          style="margin-top: -35px; margin-left: 65px"
        >OR</div>
        <div>
          <q-btn class="text-caption q-pr-sm" no-caps color="primary">
            <q-icon name="fab fa-facebook-f" />
            <q-separator vertical spaced />Login with facebook
          </q-btn>
        </div>
        <div>
          <q-btn class="text-caption q-pr-lg" no-caps color="negative">
            <q-icon name="fab fa-google-plus-g" />
            <q-separator vertical spaced />Login with google
          </q-btn>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      loading: false,
      slide: 1,
      form: {
        email: "",
        password: ""
      },
      errors_list: null
    };
  },

  methods: {
    async login() {
      this.errors_list = null;
      let error = await this.$validator.validateAll();
      if (!error) {
        this.errors_list = this.errors.all();
        return;
      }

      this.loading = true;
      try {
        let data = await this.$axios.post(
          process.env.Api + "/api/login",
          this.form
        );
        this.$q.notify({ message: "Login successful", color: "primary" });
        this.$q.localStorage.set(
          "bwc-token",
          data.data.token_type + " " + data.data.access_token
        );
        this.$store.commit("auth/user", data.data.user);

        this.$axios.defaults.headers.common["Authorization"] =
          "Bearer " + data.data.access_token;

        this.form.email = "";
        this.form.password = "";
        this.$router.push("feed/list");
        this.$store.dispatch("auth/notifications");
        this.loading = false;
      } catch (error) {
        this.errors_list = "Error: Please check your login-id or password";
        this.loading = false;
        return;
      }
    }
  }
};
</script>

<style>
</style>
