<template>
  <div class="row flex-center">
    <q-card flat class="col-xs-none col-sm-4 col-md-6"></q-card>

    <q-card square flat class="col-xs-12 col-sm-8 col-md-6 q-pl-lg absolute-right full-height">
      <q-card-section class="text-right">
        <q-btn color="primary" rounded no-caps label="Login" :to="{name: 'login'}" />
      </q-card-section>

      <q-card-section class="text-left">
        <div class="text-h4 text-primary text-weight-bolder">Broadway Connected</div>
        <div class="text-grey-5 text-h6">Theater: Anywhere, Anytime, for Anyone</div>
      </q-card-section>
      <q-card-section class="q-gutter-xs">
        <div>
          <ul v-if="Array.isArray(errors_list)">
            <li v-for="error in errors_list" :key="error.id" class="text-negative">{{ error }}</li>
          </ul>
          <ul v-else>
            <li v-if="errors_list" class="text-negative">{{ errors_list }}</li>
          </ul>
        </div>

        <div class="row q-gutter-lg">
          
          <div>
            <div class="text-caption text-primary text-bold">FIRST NAME</div>
            <q-input
              borderless
              input-class="bg-grey-3 text-primary"
              v-model="form.firstname"
              name="firstname"
              v-validate="'required'"
              dense
              class="col-6"
            />
          </div>
          <div>
            <div class="text-caption text-primary text-bold">LAST NAME</div>
            <q-input
              borderless
              input-class="bg-grey-3 text-primary"
              v-model="form.lastname"
              name="lastname"
              v-validate="'required'"
              dense
              class="col-6"
            />
          </div>
        </div>

        <div class="text-caption text-primary text-bold q-mt-md">USERNAME</div>
        <q-input
          borderless
          input-class="bg-grey-3 text-primary"
          input-style="width: 64%"
          v-model="form.username"
          dense
          class="full-width"
        />

        <div class="text-caption text-primary text-bold q-mt-md">EMAIL</div>
        <q-input
          borderless
          input-class="bg-grey-3 text-primary"
          input-style="width: 64%"
          v-model="form.email"
          dense
          name="email"
          class="full-width"
        />
        <div class="text-caption text-primary text-bold q-mt-md">PASSWORD</div>
        <q-input
          borderless
          input-class="bg-grey-3 text-primary"
          input-style="width: 64%"
          v-model="form.password"
          name="password"
          v-validate="'required'"
          type="password"
          dense
          class="full-width"
        />
        <div class="text-caption text-primary text-bold q-mt-md">PASSWORD VALIDATION</div>
        <q-input
          borderless
          input-class="bg-grey-3 text-primary"
          input-style="width: 64%"
          v-model="form.confirm_password"
          name="password_confirmation"
          v-validate="'required'"
          type="password"
          dense
          class="full-width"
        />
        <div class="text-caption text-primary text-bold q-mt-md">Terms and Condition</div>
        <q-toggle v-model="form.terms" />

        <div class="col-12">
          <q-btn
            class="q-mt-md q-px-lg"
            color="primary"
            no-caps
            label="Sign Up"
            @click="register"
            :loading="loading"
          />
        </div>
      </q-card-section>

      <q-card-section class="q-gutter-sm">
        <div class="col-12 row q-my-lg">
          <q-separator class="col-12 q-mr-lg" style="max-width: 50px;" />
          <q-separator class="col-12 q-ml-sm" style="max-width: 150px;" />
        </div>
        <div
          class="text-grey-5 text-caption text-weight-light"
          style="margin-top: -35px; margin-left: 65px"
        >OR</div>
        <div>
          <q-btn class="text-caption q-pr-sm" no-caps color="primary">
            <q-icon name="fab fa-facebook-f" />
            <q-separator vertical spaced />Login with facebook
          </q-btn>
        </div>
        <div>
          <q-btn class="text-caption q-pr-lg" no-caps color="negative">
            <q-icon name="fab fa-google-plus-g" />
            <q-separator vertical spaced />Login with google
          </q-btn>
        </div>
      </q-card-section>
    </q-card>
  </div>
</template>

<script>
export default {
  // name: 'ComponentName',
  data() {
    return {
      slide: 1,
      loading: false,
      form: {
        name: "",
        phone: "",
        username: "",
        email: "",
        password: "",
        confirm_password: "",
        terms: true
      },
      errors_list: null,
    };
  },

  methods: {
    async register() {
      this.errors_list = null;

      let error = await this.$validator.validateAll();
      if (!error) {
        this.errors_list = this.errors.all();
        return;
      }

      this.loading = true;
      try {
        let data = await this.$axios.post(
          process.env.Api + "/api/signup",
          this.form
        );
        if (data.data.status == "error") {
          this.errors_list = data.data.data;
          this.loading = false;
          return;
        }
        this.$q.localStorage.set(
          "bwc-token",
          data.data.token_type + " " + data.data.access_token
        );
        this.$q.notify({
          message: "Registration successful",
          color: "primary"
        });
        this.$store.commit("auth/user", data.data.user);
        this.$axios.defaults.headers.common["Authorization"] =
          "Bearer " + data.data.access_token;
        this.clearForm();
        this.$router.push("feed/list");
        this.loading = false;
      } catch (error) {
        this.errors_list = "Something went wrong: Please try again";
        this.loading = false;
      }
    },

    clearForm() {
      this.form.name = "";
      this.form.phone = "";
      this.form.user_name = "";
      this.form.email = "";
      this.form.password = "";
      this.form.confirm_password = "";
    }
  }
};
</script>

<style>
</style>
